<div class="grid ">
    <div class="col-12 lg:col-4 xl:col-4" >
        <div class="card">
            <div class="grid justify-content-between">
                <div class="mb-1 "> 
                    <b>Location Details</b>
                </div>
                <!-- <div class="mb-2 ">&nbsp;<p-button label="Add Location" icon="pi pi-plus"/>&nbsp;</div> -->
            </div>
            <ng-container >
                <div class="grid ">
                    <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                        <p-table dataKey="id"  editMode="row" [rows]="3" [paginator]="true" >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [pSortableColumn]="column" *ngFor="let column of buildingColumnHeader">
                                        {{column}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" >
                                <tr>
                                    
                                    <td>
                                        <div class="flex align-items-center justify-content-center gap-2" >
                                            <button  pButton type="button"   icon="pi pi-pencil" 
                                                styleClass="p-button-outlined" >
                                            </button>
                                            <button  pButton type="button"    icon="pi pi-trash" 
                                                styleClass="p-button-outlined" >
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="grid ">
                            <div class="col-12 lg:col-6 md:col-6">
                                <label for="Address">Address</label>
                                <input class="w-full p-button-outlined" placeholder="Enter Address" styleClass="w-full"  pInputText type="text" 
                                />
                            </div>
                            <div class="col-12 lg:col-6 md:col-6">
                                <label for="Location">Location</label>
                                <input class="w-full p-button-outlined" placeholder="Location" styleClass="w-full"  pInputText type="text" 
                                />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="flex flex-warp justify-content-center mt-2" >
                    <!-- <p-button label="Cancel" (click)="onCancelLocation('content')" />&nbsp; -->
                    <p-button label="Save Locations"  />
                </div>
            </ng-container>
        </div>
    </div>
    <div class="col-12 lg:col-8 xl:col-8" >
        <div class="card">
            <div class="grid justify-content-between">
                <div class="mb-1 "> 
                    <b>SumInsured Details</b>
                </div>
                <!-- <div class="mb-2 ">&nbsp;<p-button label="Add Location" icon="pi pi-plus"/>&nbsp;</div> -->
            </div>
            <ng-container >
                <div class="grid justify-content-end">
                    <div class="col-12 lg:col-3 md:col-3">
                    <label for="BuildingType">Location Name<span class="text-danger">*</span></label>
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Location"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div>
                    <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                        <p-table dataKey="id"  editMode="row" [rows]="3" [paginator]="true" >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th [pSortableColumn]="column" *ngFor="let column of SIColumnHeader">
                                        {{column}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" >
                                <tr>
                                    
                                    <td>
                                        <div class="flex align-items-center justify-content-center gap-2" >
                                            <button  pButton type="button"   icon="pi pi-pencil" 
                                                styleClass="p-button-outlined">
                                            </button>
                                            <button  pButton type="button" icon="pi pi-trash" 
                                                styleClass="p-button-outlined" >
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

    
<div class="grid">
    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-1 "> 
                    <b>Building Details</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">SumInsured</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="BuildingType">Construction (wall)</label>
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select wall Type"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div>
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="BuildingType">Construction (Roof)</label>
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Roof Type"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-2 "> 
                    <b>Domestic Servant</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="Servant">Servant</label>
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Servant"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div>
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">Employee Count</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">SumInsured</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
            </div>
        </div>
    </div>

 
</div>

<div class="grid">

    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-1 "> 
                    <b>Content SumInsured</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">SumInsured</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
                <!-- <div class="col-12 lg:col-6 md:col-6">
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Building Type"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-1 "> 
                    <b>All Risk</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">SumInsured</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
            </div>
        </div>
    </div>
   
</div>


<div class="grid">
    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-1 "> 
                    <b>personal Liability</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">SumInsured</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 md:col-6">
        <div class="card">
            <div class="grid justify-content-start">
                <div class="mb-1 "> 
                    <b>Personal Accident</b>
                </div>
               
            </div>
            <div class="grid ">
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="BuildingType">Relationship</label>
                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select wall Type"
                        appendTo="body" optionLabel="LocationName" optionValue="RiskId"  />
                </div>
                <div class="col-12 lg:col-6 md:col-6">
                    <label for="SumInsured">Death SI</label>
                    <input class="w-full p-button-outlined" placeholder="Enter SumInsured" styleClass="w-full"  pInputText type="text" 
                    />
                </div>
               
            </div>
        </div>
    </div>
    



</div>
   
 <div class="flex justify-content-center gap-2 mt-1">
    <p-button label="Cancel" styleClass="p-button-outlined"  />
    <p-button label="Save" />
    <p-button label="Proceed" />
</div>