<p-toast></p-toast>
<div class="card">
    <div class="grid">
      <div class="col-12 sm:col-6 md:col-4">
        <h3 class="mr-3 p-0 m-0">Quote Details</h3>
      </div>
      <div class="col-12 sm:col-6 md:col-8">
        <div class="flex flex-wrap justify-content-end">
                <div *ngIf="quoteNo"><b>QuoteNo- <span style="color: #FC4412 !important;">{{quoteNo}}</span></b>&nbsp;|&nbsp;</div>
                <div *ngIf="quoteRefNo">RefNo- <span style="color: #FC4412 !important;">{{quoteRefNo}}</span></div>
        </div>
        
      </div>
    </div>
    
    <p-divider></p-divider>
    <ng-container *ngIf="vehicleDetailsList.length!=0">
        <p-tabView [activeIndex]="tabIndex" (onChange)="onTabClicked($event)">
            <ng-container *ngFor="let menu of vehicleDetailsList;let i = index">
                <p-tabPanel [header]="menu.RiskDetails.Registrationnumber">
                    
                    <div class="card">
                        <ng-container *ngIf="productId=='5'">
                            <div class="flex flex-wrap">
                                <p class="mr-5"><i class="pi pi-tag mr-2"></i>{{menu.RiskDetails.PolicyTypeDesc}}</p>
                                <p class="mr-5"><i class="pi pi-tag mr-2"></i>{{ menu.RiskDetails.Registrationnumber }}</p>
                                <!-- <p><i class="pi pi-tag mr-2"></i>JTERB</p> -->
                            </div>
    
                        </ng-container>
                        <ng-container *ngIf="productId=='4'">
                            <ng-container *ngIf="menu.RiskDetails.TravelId=='1'">
                                <span class="spancommon"
                                    style="color:navy;font-size: 1rem;">Kids&nbsp;({{menu.RiskDetails.TotalPassengers}})</span>
    
                            </ng-container>
                            <ng-container *ngIf="menu.RiskDetails.TravelId=='2'">
                                <span class="spancommon"
                                    style="color:navy;font-size: 1rem;">Adults&nbsp;({{menu.RiskDetails.TotalPassengers}})</span>
    
                            </ng-container>
                            <ng-container *ngIf="menu.RiskDetails.TravelId=='3'">
                                <span class="spancommon"
                                    style="color:navy;font-size: 1rem;">Seniors&nbsp;({{menu.RiskDetails.TotalPassengers}})</span>
    
                            </ng-container>
                            <ng-container *ngIf="menu.RiskDetails.TravelId=='4'">
                                <span class="spancommon" style="color:navy;font-size: 1rem;">Super
                                    Seniors&nbsp;({{menu.RiskDetails.TotalPassengers}})</span>
    
                            </ng-container>
                            <ng-container *ngIf="menu.RiskDetails.TravelId=='5'">
                                <span class="spancommon" style="color:navy;font-size: 1rem;">Grand
                                    Seniors&nbsp;({{menu.RiskDetails.TotalPassengers}})</span>
    
                            </ng-container>
                            <span class="spancommon" style="color:navy;font-size: 1rem;"> &nbsp;|&nbsp;
                                {{menu.RiskDetails.DestinationCountry}}
                                &nbsp;|&nbsp; {{ menu.RiskDetails.TravelStartDate }} &nbsp;~&nbsp; {{
                                menu.RiskDetails.TravelEndDate }}</span>
                        </ng-container>
                        <ng-container
                            *ngIf="productId!='3' && productId!='4' && productId!='5' && productId!='19' && productId!='14' && productId!='32'">
                            <span class="spancommon" style="color:navy;font-size: 1rem;">
                                {{productName}}
                            </span>
                        </ng-container>
                        <ng-container
                            *ngIf="productId=='3' || productId=='19' || productId=='14' || productId=='32'">
    
                            <span class="spancommon" style="color:navy;font-size: 1rem;">
                                {{menu.SectionName}}
                            </span>
                        </ng-container>
                        <div class="flex flex-wrap">
                            <div class="col-12 md:col-6 lg:col-4 border-right-1 border-500 px-5">
                                <ng-container *ngFor="let cover of menu.CoverList">
                                    <div class="card bg-blue-800 text-0" *ngIf="(cover.isSelected=='D' && !endorseCovers) ||  checkCoverSelection(menu,cover)">
                                        <h3 class="text-0 mb-0">{{cover.CoverName}}</h3>
                                        <!-- <p>According to your budget you can pay one time or one time* with 10% discount.</p> -->
                                        <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> {{cover.SumInsured | commaseparator}} </b>SumInsured
                                            &nbsp;&nbsp;<a
                                                class="mt-0" style="text-decoration: underline;cursor: pointer !important;color: #f57c00;"
                                                (click)="setDiscountDetails(menu,cover,'excess')">View Details
                                            </a>
                                        </p><br>
                                        <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> {{cover.PremiumAfterDiscount | commaseparator}} </b>Premium After Discount
                                            &nbsp;&nbsp;<a
                                            class="mt-0"
                                            (click)="setDiscountDetails(menu,cover,'discount')"
                                            style="text-decoration: underline;cursor: pointer !important;color: #f57c00;">View Details</a>
                                        </p>
                                        
                                        <p><span class="font-bold text-4xl float-right">{{cover.PremiumIncludedTax | commaseparator}}&nbsp;<span class="text-base">( {{currencyCode}} )</span></span></p>
                                    </div>
                                </ng-container>
                                
                                <!-- <div class="card bg-blue-800 text-0">
                                    <h3 class="text-0 mb-0">Death Cover</h3>
                                    <p>According to your budget you can pay one time or one time* with 10% discount.</p>
                                    <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 25% </b>Cashback</p>
                                    <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 100.000 </b>Coverage Amount</p>
                                    <p class="mb-0"><s><b><i class="pi pi-times-circle mr-3"></i> 3 Years </b>Premium</s></p>
                                    <p><span class="font-bold text-4xl">2,033</span> /monthly premium</p>
                                </div> -->
                                <div class="flex flex-wrap justify-content-between">
                                    <p-button label="Clauses" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
                                    <p-button label="Exclusions" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
                                    <p-button label="Warranties" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-8 px-5">
                                <!-- <div class="flex flex-wrap">
                                    <p class="mr-5"><i class="pi pi-tag mr-2"></i>Toyoto Landcruser hard top</p>
                                    <p class="mr-5"><i class="pi pi-tag mr-2"></i>Comprehensive</p>
                                    <p><i class="pi pi-tag mr-2"></i>JTERB</p>
                                </div>
                                <p class="mt-1">According to your budget you can pay monthly or one time* with %10 discount.</p> -->
                                <div class="flex flex-wrap justify-content-between">
                                    <ng-container *ngFor="let cover of menu.CoverList">
                                        <div class="card p-3 w-25rem" *ngIf="(cover.isSelected!='D') && ! checkCoverSelection(menu,cover)">
                                             <div class="flex align-items-center justify-content-between">
                                                <input type="checkbox" [checked]="canbeChecked(cover)" (change)="onSelectCover(cover,$event.target.checked,menu.Vehicleid,menu,'coverList','change')" id="vehicle1" name="vehicle1">
                                                <!-- <p-checkbox class="mr-4" [checked]="canbeChecked(cover)" (onChange)="onSelectCover(cover,$event.checked,menu.Vehicleid,menu,'coverList','change')" inputId="binary"></p-checkbox> -->
                                                <h5 class="my-0 mr-4">{{cover.CoverName}}</h5>
                                                <span class="pi pi-info-circle align-self-end"></span>
                                            </div>
                                            <div class="flex flex-wrap mt-3 justify-content-between">
                                                <div class="mb-3">
                                                    <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> {{cover.SumInsured | commaseparator}} </b>SumInsured  &nbsp;&nbsp;<a
                                                        class="mt-0" style="text-decoration: underline;cursor: pointer !important;"
                                                        (click)="setDiscountDetails(menu,cover,'excess')">View Details
                                                    </a></p><br>
                                                    <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> {{cover.PremiumAfterDiscount | commaseparator}} </b>Premium After Discount 
                                                        &nbsp;&nbsp;<a
                                                        class="mt-0"
                                                        (click)="setDiscountDetails(menu,cover,'discount')"
                                                        style="text-decoration: underline;cursor: pointer !important;">View Details</a>
                                                    </p>
                                                    
                                                </div>
                                                <h4 class="mt-0 bg-orange-500 border-round-lg py-2 px-4 text-white">
                                                    <ng-container *ngIf="cover.PremiumIncludedTax!='0' && cover.PremiumIncludedTax!=0 && cover.PremiumIncludedTax!=null">
                                                        {{cover.PremiumIncludedTax | commaseparator}}
                                                    </ng-container>
                                                    <ng-container *ngIf="cover.PremiumIncludedTax=='0' || cover.PremiumIncludedTax==0 || cover.PremiumIncludedTax==null">
                                                            0
                                                    </ng-container>
                                                    &nbsp;<span class="text-base">( {{currencyCode}} )</span></h4>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="flex flex-wrap justify-content-between mt-2">
                                    <div></div>
                                    <div></div>
                                    <div class="mb-4">
                                        <p-button label="Next" *ngIf="!checkNextBtn(menu,i)" (click)="onNext()" class="p-3 text-l mr-0" styleClass="mb-4"></p-button>&nbsp;
                                    </div>
                                    <div class="card grid text-white surface-900 px-4 py-2" (click)="showSidebar()">
                                        <div class="col-6">
                                            <!-- <p class="mb-0"><s>$455</s></p> -->
                                            <h6 class="text-white mt-0">{{totalPremium | commaseparator}}&nbsp;({{currencyCode}})</h6>
                                        </div>
                                        <p-button class="col-6" styleClass="surface-900" label="View Cart" severity="primary"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </ng-container>
        </p-tabView>
    </ng-container>
    <div class="grid" *ngIf="(coverSection && (((!statusValue || checkManualReferral()) && !adminSection) || (statusValue && adminSection ))) && ((!this.endorsementSection) || (this.endorsementSection && this.endorsementCategory=='Financial'))">
        <div class="lg:col-12 md:col-12 col-12 ml-3 p-0">
            <div class="flex flex-wrap">
                <h4><i class="fa fa-user"></i>&nbsp;Referral Details</h4>
            </div>
        </div>
    </div>
     <div class="flex flex-wrap mb-3" *ngIf="((!statusValue || checkManualReferral()) && !adminSection) && ((!this.endorsementSection) || (this.endorsementSection && this.endorsementCategory=='Financial'))">
        <div class="lg:col-3 md:col-3 col-12">
                <label class="input-form-label">Move this Quote to Referral Manually?</label>
                <div class="flex justify-content-start gap-3 mt-1">
                    <div class="flex align-items-center">
                        <p-radioButton name="referral" value="Y" [(ngModel)]="isMannualReferal"
                            inputId="referral_Yes"></p-radioButton>
                        <span for="referral_Yes" class="ml-2">Yes</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="referral" value="N" [(ngModel)]="isMannualReferal"
                            inputId="referral_No"></p-radioButton>
                        <span for="referral_No" class="ml-2">No</span>
                    </div>
                </div>
                <!-- <div class="custom-radio-btn" style="position: relative;top: 1rem;right: 0.3rem;">
                    <div class="radio-toolbar">
                        <input id="referral_Yes" type="radio" [(ngModel)]="isMannualReferal" name="referral"
                            value="Y">
                        <label for="referral_Yes" class="yes">Yes</label>
                        <input type="radio" id="referral_No" [(ngModel)]="isMannualReferal" name="referral"
                            value="N">
                        <label for="referral_No" class="no">No</label>
                    </div>
                </div> -->
        </div>
        <ng-container *ngIf="isMannualReferal == 'Y'">
            <div class="lg:col-3 md:col-3 col-12">
                <div class="mb-3">
                        <label class="input-form-label">Remarks</label>
                        <textarea pInputTextarea cols="40" rows="2" [(ngModel)]="remarks"
                            style="height: 45px;"></textarea>
                </div>
            </div>
        </ng-container>
        
    </div>
    <p-divider  *ngIf="(coverSection && (((!statusValue || checkManualReferral()) && !adminSection) || (statusValue && adminSection ))) && ((!this.endorsementSection) || (this.endorsementSection && this.endorsementCategory=='Financial'))"></p-divider>
    <div class="grid mt-2" *ngIf="isMannualReferal != 'Y' && (coverSection && (((!statusValue || checkManualReferral()) && !adminSection) || (statusValue && adminSection ))) && ((!this.endorsementSection) || (this.endorsementSection && this.endorsementCategory=='Financial'))">
        <div class="lg:col-12 md:col-12 col-12 ml-3 p-0">
            <div class="flex flex-wrap">
                <h4><i class="fa fa-credit-card-alt"></i>&nbsp;EMI Details</h4>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap"
        *ngIf="isMannualReferal != 'Y' && ((!statusValue || checkManualReferral()) && !adminSection) && ((!this.endorsementSection) || (this.endorsementSection && this.endorsementCategory=='Financial'))">
        <ng-container *ngIf=" !endorsementSection && Emilist1.length!=0">
            <div class="lg:col-4 md:col-4 col-4">
                <div class="mb-3">
                        <label class="input-form-label">Do You Like to Choose EMI Option?</label>
                        <div class="flex justify-content-start gap-3 mt-1">
                            <div class="flex align-items-center">
                                <p-radioButton name="emiYN" value="Y" (change)="onEmiYNChange()" [(ngModel)]="emiYN"
                                    inputId="emi_Yes"></p-radioButton>
                                <span for="emi_Yes" class="ml-2">Yes</span>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="emiYN" value="N" (change)="onEmiYNChange()" [(ngModel)]="emiYN"
                                    inputId="emi_No"></p-radioButton>
                                <span for="emi_No" class="ml-2">No</span>
                            </div>
                        </div>
                </div>
            </div>
        </ng-container>
    </div>
    
    <div class="lg:col-12 md:col-12 col-12 ml-3" *ngIf="emiSection && Emilist1.length!=0 && emiYN=='Y' && isMannualReferal != 'Y'">
        <table class="firstclass" style="width:70%;">
            <thead>
                <tr class="firstclass">
                    <th scope="col" colspan="3"></th>
                    <th scope="col" colspan="4" style="text-align:center;" class="spancommon span_font_size">
                        Installment Amount ({{localCurrency}})
                    </th>
                </tr>
                <tr class="firstclass">
                    <th scope="col" class="spancommon span_font_size" style="text-align:center;">EMI Month
                    </th>
                    <th scope="col" class="spancommon span_font_size" style="text-align:center;">
                        Installment Type</th>
                    <th scope="col" class="spancommon span_font_size" style="text-align:center;">Due Date
                    </th>
                    <th scope="col" class="spancommon span_font_size" *ngIf="yearlySection" id="first"
                        style="text-align:center">(12 Months)
                    </th>
                    <th scope="col" class="spancommon span_font_size" *ngIf="nineMonthSection" id="second"
                        style="text-align:center">(9 Months)
                    </th>
                    <th scope="col" class="spancommon span_font_size" id="sixth" style="text-align:center"
                        *ngIf="eightMonthSection">(8 Months)
                    </th>
                    <th scope="col" class="spancommon span_font_size" id="third" style="text-align:center"
                        *ngIf="sixMonthSection">(6 Months)
                    </th>
                    <th scope="col" class="spancommon span_font_size" id="fifth" style="text-align:center"
                        *ngIf="fiveMonthSection">(5 Months)
                    </th>
                    <th scope="col" class="spancommon span_font_size" id="fourth" style="text-align:center"
                        *ngIf="threeMonthSection">(3 Months)
                    </th>


                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr *ngFor="let list of Emilist1;let i=index" class="firstclass">
                        <td class="spancommon span_font_size"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.EmiMonth}}</td>
                        <td class="spancommon span_font_size"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.InstallmentDesc}}</td>
                        <td class="spancommon span_font_size"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.DueDate}}</td>
                        <td class="spancommon span_font_size" *ngIf="yearlySection" id="first"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.yearlyAmount | commaseparator}}</td>
                        <td class="spancommon span_font_size" *ngIf="nineMonthSection" id="second"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.nineAmount|commaseparator}}</td>
                        <td class="spancommon span_font_size" *ngIf="eightMonthSection"
                            style="text-align:center;border: 0.5px solid grey;" id="sixth">
                            {{list.eightAmount | commaseparator}}</td>
                        <td class="spancommon span_font_size" *ngIf="sixMonthSection" id="third"
                            style="text-align:center;border: 0.5px solid grey;">
                            {{list.sixAmount | commaseparator}}</td>
                        <td class="spancommon span_font_size" *ngIf="fiveMonthSection"
                            style="text-align:center;border: 0.5px solid grey;" id="fifth">
                            {{list.fiveAmount | commaseparator}}</td>
                        <td class="spancommon span_font_size" *ngIf="threeMonthSection"
                            style="text-align:center;border: 0.5px solid grey;" id="fourth">
                            {{list.threeAmount | commaseparator}}</td>
                    </tr>
                </ng-container>
            </tbody>

        </table>

    </div>
    <div class="col-12 col-md-6" *ngIf="isMannualReferal != 'Y' && emiYN=='Y' && Emilist1.length!=0">
        <div class="mb-3 mt-3">
                <label class="input-form-label spancommon span_font_size">EMI Period</label>
                <div class="flex justify-content-start gap-3 mt-1">
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="0" [(ngModel)]="emiPeriod"
                            inputId="emi_None"></p-radioButton>
                        <span for="emi_None" class="ml-2">None</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="3" [(ngModel)]="emiPeriod"
                            inputId="emi_three"></p-radioButton>
                        <span for="emi_three" class="ml-2">3 Months</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="5" [(ngModel)]="emiPeriod"
                            inputId="emi_five"></p-radioButton>
                        <span for="emi_five" class="ml-2">5 Months</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="6" [(ngModel)]="emiPeriod"
                            inputId="emi_six"></p-radioButton>
                        <span for="emi_six" class="ml-2">6 Months</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="8" [(ngModel)]="emiPeriod"
                            inputId="emi_eight"></p-radioButton>
                        <span for="emi_eight" class="ml-2">8 Months</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="9" [(ngModel)]="emiPeriod"
                            inputId="emi_nine"></p-radioButton>
                        <span for="emi_nine" class="ml-2">9 Months</span>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="emiPeriod" (change)="onEMIChange()" value="12" [(ngModel)]="emiPeriod"
                            inputId="emi_twelve"></p-radioButton>
                        <span for="emi_twelve" class="ml-2">12 Months</span>
                    </div>
                </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-center mt-2">
        <div></div>
        <div></div>
        <div class="mb-4">
            <p-button label="Back" [routerLink]="['/policyDetails']" class="p-3 mr-2 text-l mr-0" styleClass="p-button-outlined mb-4" icon="pi pi-chevron-left"></p-button>
            <p-button label="Modify Rate Details" *ngIf="userType!='broker' && userType!='user'"   [routerLink]="['/quotation/plan/premium-info']" class="p-3 text-l mr-0" styleClass="mb-4"></p-button>
            <p-button label="Buy Policy"   (click)="onFormSubmit()" class="p-3 text-l mr-0" styleClass="mb-4"></p-button>
        </div>
        <div></div>
        
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:20rem md:w-30rem">
    <ng-template pTemplate="header">
        <ng-container *ngIf="customerDetails">
            <h3>{{customerDetails?.ClientName}}</h3>
        </ng-container>
    </ng-template>
    <ng-template pTemplate="content">
        <p-chip label="Customer ID" icon="pi pi-user"></p-chip>
        <hr>
        <div class="card w-full">
            <ng-container *ngFor="let menu of vehicleDetailsList">
                <h4>{{ menu.RiskDetails.Registrationnumber }}&nbsp;({{menu.RiskDetails.PolicyTypeDesc}})</h4>
                <div class="grid">
                    <ng-container *ngFor="let cover of menu.CoverList">
                        <ng-container *ngIf="canbeChecked(cover)">
                            <div class="col-2 m-0 p-0 mt-1" >
                                <p-button icon="pi pi-trash" *ngIf="(cover.isSelected!='D') && ! checkCoverSelection(menu,cover)" (onClick)="onSelectCover(cover,false,menu.Vehicleid,menu,'coverList','change')" severity="danger" styleClass="p-button-outlined"></p-button>
                            </div>
                            <div class="col-7 m-0 p-0 mt-2">
                                &nbsp;<p>{{cover.CoverName}}</p>
                            </div>
                            <div class="col-3 text-right mt-1">
                                <h4 class="text-orange-500 mb-0">{{cover.PremiumIncludedTax | commaseparator}}</h4>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap justify-content-between">
            <div class="mr-0">
                <p-button label="Buy Policy"   (click)="onFormSubmit()" class="p-3 text-l mr-0" styleClass="mb-4"></p-button>
            </div>
            <div class="text-white surface-900 px-6 py-3 border-round-lg flex" (click)="showSidebar()">
                <h5 class="text-white mb-1 mr-3">Total</h5>
                <div>
                    <h6 class="text-white my-0">{{totalPremium | commaseparator}}</h6>
                </div>
            </div>
        </div>
    </ng-template>
</p-sidebar>

<p-dialog header="Excess Details" [(visible)]="excessDetailModal" [modal]="true" styleClass="w-10 md:w-8 lg:w-6" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 sm:col-12 md:col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: end;"><b>Excess (%)</b></th>
                        <th scope="col" style="text-align: end;"><b>Excess Amount ({{currencyCode}})</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Excess</td>
                        <td style="text-align: center;">
                            <ng-container *ngIf="((!adminSection && userType!='Issuer') || (endorsementSection) ) || finalizeYN=='Y'">
                                <span class="spancommon span_font_size">{{excessPercent}}</span>
                            </ng-container>
                            <ng-container *ngIf="(adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection))">
                                <input type="text"  style="width: auto !important;max-width:150px;text-align:left !important"
                                    [(ngModel)]="excessPercent">
                            </ng-container>
                        </td>
                        <td style="text-align: end;">
                            <ng-container *ngIf="((!adminSection && userType!='Issuer') || (endorsementSection)) || finalizeYN=='Y'">
                                <ng-container *ngIf="excessAmount==null || excessAmount=='0.0' || excessAmount=='0'">
                                        0
                                </ng-container>
                                <ng-container *ngIf="excessAmount!=null && excessAmount!='0.0' && excessAmount!='0'">
                                    <span class="spancommon span_font_size">{{excessAmount | commaseparator}}</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="(adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection))">
                                <input type="text"  style="width: auto !important;max-width:150px;text-align:left !important"
                                    [(ngModel)]="excessAmount">
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-content-end">
        <p-button class="p-3 text-l pi-button mr-0" *ngIf="adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection)" (click)="SaveLoadingDetails('excess')">Submit</p-button>
    </div>
</p-dialog>
<p-dialog header="Discount Details" [(visible)]="discountDetailModal" [modal]="true" styleClass="w-10 md:w-8 lg:w-6" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 sm:col-12 md:col-12">
            <table class="table" *ngIf="!discountEndtSection">
                <thead>
                    <tr>
                        <th scope="col"><b>Description</b></th>
                        <th scope="col" style="text-align: center;"><b>Rate</b></th>
                        <th scope="col" style="text-align: end;"><b>Amount ({{currencyCode}})</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="productId!='42'">
                        <td>Sum Insured</td>
                        <td></td>
                        <td style="text-align: end;"><span class="spancommon span_font_size">{{sumInsured | commaseparator}}</span></td>
                    </tr>
                    <tr>
                        <td style="max-width: 300px;">{{CoverName}}&nbsp;Premium</td>
                        <td>
                                <ng-container *ngIf="calcType=='A'">
                                    <ng-container *ngIf="((!adminSection && userType!='Issuer') || endorsementSection ) || finalizeYN=='Y'">
                                        <span class="spancommon span_font_size">{{ratePercent}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection)">
                                        <div class="input-group">
                                            <input type="text" class="input-form-control without-icon" style="border-radius:5px;width: auto !important;max-width:80px;text-align:right !important"
                                            [(ngModel)]="ratePercent">
                                            <div class="input-group-append">
                                              <span class="input-group-text" style="padding: 0.05rem 0.5rem;" id="basic-addon2">{{currencyCode}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="calcType=='P'">
                                    <ng-container *ngIf="((!adminSection && userType!='Issuer') || endorsementSection) || finalizeYN=='Y'">
                                        <span class="spancommon span_font_size">{{ratePercent}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection)">
                                        <div class="input-group">
                                            <input type="text" class="input-form-control without-icon"  style="border-radius:5px;width: auto !important;max-width:80px;text-align:right !important"
                                            [(ngModel)]="ratePercent">
                                            <div class="input-group-append">
                                              <span class="input-group-text" style="padding: 0.05rem 0.5rem;" id="basic-addon2">%</span>
                                            </div>
                                        </div>
                                        
                                    </ng-container>
                                </ng-container>
                        </td>
                        <td style="text-align: end;">
                            <span class="spancommon span_font_size">{{beforeDiscount | commaseparator}}</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="discountList.length!=0">
                        <tr>
                            <th scope="col">Discounts</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let discount of discountList">
                            <td>{{discount.DiscountDesc}}</td>
                            <td></td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="discount.DiscountAmount==null || discount.DiscountAmount=='0.0'">
                                    0
                                </ng-container>
                                <ng-container *ngIf="discount.DiscountAmount!=0 && discount.DiscountAmount!=null || discount.DiscountAmount!='0.0'">
                                        {{discount.DiscountAmount | commaseparator}}
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="loadingList.length!=0">
                        <tr>
                            <th scope="col" style="text-align: start;" colspan="3">Loadings</th>
                        </tr>
                        <tr *ngFor="let loading of loadingList;let i=index">
                            <td>{{loading.LoadingDesc}}</td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="(adminSection || ((userType=='Issuer' && finalizeYN!='Y' && !endorsementSection))) && loading.LoadingCalcType!='A'">
                                    <ng-container *ngIf="loading.LoadingCalcType!='P'">
                                        <ng-container *ngIf="loading.LoadingRate!=null">
                                            <span class="spancommon span_font_size">0</span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingCalcType=='P'">
                                        <input type="text" [id]="'Rate'+i" class="input-form-control without-icon"
                                            style="width: auto !important;max-width:80px;text-align:right !important"
                                            [(ngModel)]="loading['LoadingRate']" maxlength="5">
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="(((!adminSection && userType!='Issuer') || endorsementSection) || finalizeYN=='Y' ) && loading.LoadingCalcType!='A'">
                                    <ng-container *ngIf="loading.LoadingRate==null">
                                        0
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingRate!=0 && loading.LoadingRate!=null">
                                        <span class="spancommon span_font_size">{{loading.LoadingRate}}</span>
                                    </ng-container>

                                </ng-container>
                            </td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="(adminSection  || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection))">
                                    <ng-container *ngIf="loading.LoadingCalcType!='A'">
                                        <ng-container
                                            *ngIf="loading.LoadingAmount==0 || loading.LoadingAmount==null">
                                            0
                                        </ng-container>
                                        <ng-container
                                            *ngIf="loading.LoadingAmount!=0 && loading.LoadingAmount!=null">
                                            <span class="spancommon span_font_size">{{loading.LoadingAmount}}</span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingCalcType=='A'">
                                        <input type="text" [id]="'Amount'+i" class="input-form-control without-icon"
                                            (keyup)="premiumComma(i,loading.LoadingAmount)"
                                            style="width: auto !important;max-width:300px;text-align:right !important"
                                            [(ngModel)]="loading['LoadingAmount']">
                                    </ng-container>

                                </ng-container>
                                <ng-container *ngIf="(((!adminSection && userType!='Issuer') || endorsementSection) || finalizeYN=='Y')">
                                    <ng-container *ngIf="loading.LoadingAmount==0 || loading.LoadingAmount==null">
                                        0
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingAmount!=0 && loading.LoadingAmount!=null">
                                        <span class="spancommon span_font_size">{{loading.LoadingAmount |
                                            commaseparator}}</span>
                                    </ng-container>

                                </ng-container>
                            </td>
                        </tr>

                    </ng-container>
                   
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td style="text-align: end;"><span class="spancommon span_font_size">
                            <b>{{afterDiscount | commaseparator}}</b></span></td>
                    </tr>
                </tfoot>
            </table>
            <table class="table" *ngIf="discountEndtSection">
                <thead>
                    <tr>
                        <th scope="col"><b>Description</b></th>
                        <th scope="col" style="text-align: end;"><b>Rate</b></th>
                        <th scope="col" style="text-align: end;"><b>Amount ({{currencyCode}})</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Actual SumInsured</td>
                        <td style="text-align: end;">
                               
                        </td>
                        <td style="text-align: end;">
                            <span class="spancommon span_font_size">{{sumInsured | commaseparator}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Difference SumInsured</td>
                        <td style="text-align: end;">
                               
                        </td>
                        <td style="text-align: end;">
                            <span class="spancommon span_font_size">{{differenceSI | commaseparator}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Premium Before Discount</td>
                        <td style="text-align: end;">
                                <ng-container *ngIf="!adminSection">
                                    <span class="spancommon span_font_size">{{ratePercent}}</span>
                                </ng-container>
                                <ng-container *ngIf="(adminSection)">
                                    <input type="text"  style="width: auto !important;max-width:80px;text-align:right !important"
                                        [(ngModel)]="ratePercent">
                                </ng-container>
                        </td>
                        <td style="text-align: end;">
                            <span class="spancommon span_font_size">{{beforeDiscount | commaseparator}}</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="discountList.length!=0">
                        <tr>
                            <th scope="col">Discounts</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let discount of discountList">
                            <td>{{discount.DiscountDesc}}</td>
                            <td></td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="discount.DiscountAmount==null || discount.DiscountAmount=='0.0'">
                                    0
                                </ng-container>
                                <ng-container *ngIf="discount.DiscountAmount!=0 && discount.DiscountAmount!=null || discount.DiscountAmount!='0.0'">
                                        {{discount.DiscountAmount | commaseparator}}
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="loadingList.length!=0">
                        <tr>
                            <th scope="col" style="text-align: start;" colspan="3">Loadings</th>
                        </tr>
                        <tr *ngFor="let loading of loadingList;let i=index">
                            <td>{{loading.LoadingDesc}}</td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="(adminSection  || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection)) && loading.LoadingCalcType!='A'">
                                    <ng-container *ngIf="loading.LoadingCalcType!='P'">
                                        <ng-container *ngIf="loading.LoadingRate!=null">
                                            <span class="spancommon span_font_size">0</span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingCalcType=='P'">
                                        <input type="text" [id]="'Rate'+i" class="input-form-control without-icon"
                                            style="width: auto !important;max-width:80px;text-align:right !important"
                                            [(ngModel)]="loading['LoadingRate']" maxlength="5">
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="(((!adminSection && userType!='Issuer') || endorsementSection) || finalizeYN=='Y') && loading.LoadingCalcType!='A'">
                                    <ng-container *ngIf="loading.LoadingRate==null">
                                        0
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingRate!=0 && loading.LoadingRate!=null">
                                        <span class="spancommon span_font_size">{{loading.LoadingRate}}</span>
                                    </ng-container>

                                </ng-container>
                            </td>
                            <td style="text-align: end;">
                                <ng-container *ngIf="(adminSection  || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection))">
                                    <ng-container *ngIf="loading.LoadingCalcType!='A'">
                                        <ng-container
                                            *ngIf="loading.LoadingAmount==0 || loading.LoadingAmount==null">
                                            0
                                        </ng-container>
                                        <ng-container
                                            *ngIf="loading.LoadingAmount!=0 && loading.LoadingAmount!=null">
                                            <span class="spancommon span_font_size">{{loading.LoadingAmount}}</span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingCalcType=='A'">
                                        <input type="text" [id]="'Amount'+i" class="input-form-control without-icon"
                                            (keyup)="premiumComma(i,loading.LoadingAmount)"
                                            style="width: auto !important;max-width:300px;text-align:right !important"
                                            [(ngModel)]="loading['LoadingAmount']">
                                    </ng-container>

                                </ng-container>
                                <ng-container *ngIf="(((!adminSection && userType!='Issuer') || endorsementSection) || finalizeYN=='Y')">
                                    <ng-container *ngIf="loading.LoadingAmount==0 || loading.LoadingAmount==null">
                                        0
                                    </ng-container>
                                    <ng-container *ngIf="loading.LoadingAmount!=0 && loading.LoadingAmount!=null">
                                        <span class="spancommon span_font_size">{{loading.LoadingAmount |
                                            commaseparator}}</span>
                                    </ng-container>

                                </ng-container>
                            </td>
                        </tr>

                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td style="text-align: end;"><span class="spancommon span_font_size">
                            <b>{{beforeDiscount | commaseparator}}</b></span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="flex justify-content-end">
        <p-button class="p-3 text-l pi-button mr-0" *ngIf="adminSection || (userType=='Issuer' && finalizeYN!='Y' && !endorsementSection)" (click)="SaveLoadingDetails('discount')">Submit</p-button>
    </div>
</p-dialog>