<div class="card">
    <div class="grid">
      <div class="col-12 sm:col-6 md:col-4">
        <h3 class="mr-3">Endorsement</h3>
        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
      </div>
      <div class="col-12 sm:col-6 md:col-8">
        <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
          <p-button icon="pi pi-plus" label="Add New" severity="warning" size="small" (click)="addNew()" ></p-button>
        </div>
      </div>
    </div>



<p-table  
        [tableStyle]="{'min-width':'50rem'}" [paginator]="true"
        [rows]="5" [value]="rows"> 
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]="column" *ngFor="let column of columns">{{column}}</th>
        </tr>
    </ng-template>
        <ng-template pTemplate="body">
        <tr *ngFor="let row of rows">
           
            <td>{{ row.PolicyNo }}</td>
            <td>{{ row.QuoteNo }}</td>
            <td>{{ row.Categoery }}</td>
            <td>{{ row.Type }}</td>
            <td>{{ row.Primium }}</td>
            <td>{{ row.EndorsementPrimium }}</td>
           <!-- <td>
                <ng-container *ngIf="customer?.IsTaxExempted=='N'">No</ng-container>
                <ng-container *ngIf="customer?.IsTaxExempted!='N'">Yes ({{customer?.TaxExemptedId}})</ng-container>
            </td>
            <td>{{CreatedBy }}</td> -->
            <td>
                <ng-container *ngIf="row?.Status=='N'">DeActive</ng-container>
                <ng-container *ngIf="row?.Status=='Y'">Active</ng-container>
                <ng-container *ngIf="row?.Status=='P'">Pending</ng-container>
            </td>
            <!-- <td>{{row.Status}} -->
                <!-- <ng-container *ngIf="Status=='N'">{{row.Status}}DeActive</ng-container>
                <ng-container *ngIf="Status=='Y'">{{row.Status}}Active</ng-container>
                <ng-container *ngIf="Status=='P'">{{row.Status}}Pending</ng-container> -->
            <!-- </td> -->
            <!-- <td>
              
                <span class="p-buttonset">
                    
                    <button type="button" pButton pRipple icon="pi pi-th-large" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" appendTo="body" [model]="getPolicyItems(row)"></p-menu>
                  </span>
            </td> -->
        </tr>
    </ng-template>
</p-table>
<div class="flex justify-content-center mt-2">
<p-button (click)="navigateTo()" styleClass="p-button-outlined" label="<<Back"
    size="small"></p-button>&nbsp;
</div>
</div> 