<div class="card">
    <div class="grid">
        <div class="col-12 sm:col-6">
          <h3 class="mr-3">Create Customer</h3>
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="col-12 sm:col-6">
            <div class="flex justify-content-start xl:justify-content-end align-items-center flex-wrap">
                <div class="flex align-items-center mr-4 flex-wrap">
                    <h5 class="mr-3 mb-2">Account Type:</h5>
                    <p-selectButton [options]="policyHolderList" (click)="setPolicyType()" [(ngModel)]="productItem.IdType" optionLabel="CodeDesc" optionValue="Code"></p-selectButton>
                </div>
                <!-- <p-button class="mt-4 lg:mt-0" label="Change Customer" size="small" (click)="navigateToCustomer()"></p-button> -->
            </div>
        </div>
    </div>
</div> 
<p-messages [(value)]="messages" [enableService]="false"></p-messages>
<div class="grid mb-2 ml-2">
    <div class="col-12 md:col-6 lg:col-6 xl:col-6 offset-3">
        <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="value1"
        optionLabel="label"
        optionValue="value"
        (change)="onLanguageChange($event)"></p-selectButton><br>
    </div>
   
    <!-- <p-card  header="{{ 'HOME.CARDONE' | translate }}" [style]="{ width: '25rem', 'margin-bottom': '2em', float: 'left' }">
        <p [translate]="'HOME.DETAILONE'"></p>
    </p-card> -->
</div>

<div class="grid">
   
    <div class="col-12 lg:col-6 py-0" *ngIf="productItem.IdType == '1'; else coporatePersonalForm">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.PersonalInformation' | translate }}</h4>
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.CustomerTitle' | translate }}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        (change)="onTitleChange()"
                        [options]="titleList" 
                        [(ngModel)]="productItem.Title" 
                        optionLabel="CodeDesc" 
                        optionValue="Code" 
                        placeholder="Select Customer Title">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.CustomerName' | translate }}*</label>
                    <input pInputText id="username" maxlength="150" [(ngModel)]="productItem.ClientName" 
                    (change)="onsavedatas('Customer',null)" placeholder="Enter Customer Name"/>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Occupation' | translate }}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="occupationList" (onChange)="onsavedatas('Occupation',null)"
                        [(ngModel)]="productItem.Occupation" 
                        optionLabel="CodeDesc" 
                        optionValue="Code" 
                        placeholder="Select Occupation">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Gender' | translate }}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="genderList" (onChange)="onGenderChange()"
                        [(ngModel)]="productItem.Gender"
                        optionLabel="CodeDesc" 
                        optionValue="Code" 
                        placeholder="Select Code">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.CountryCode' | translate }}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="mobileCodeList" 
                        [(ngModel)]="productItem.MobileCode" 
                        optionLabel="CodeDesc" 
                        optionValue="Code" 
                        placeholder="Select Code">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.MobileNumber' | translate }}*</label>
                    <input pInputText id="username" maxlength="10" [(ngModel)]="productItem.MobileNo"
                        placeholder="Enter Phone Number" (change)="onsavedatas('Mobile',null)">
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.EmailId' | translate }}</label>
                    <input pInputText id="username" [(ngModel)]="productItem.EmailId" placeholder="Enter Email ID"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 py-0" *ngIf="productItem.IdType == '1'; else coporateAdditionalForm">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.AdditionalInformation' | translate }}</h4>
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.IdentityType' | translate }}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="policyHolderTypeList" 
                        [(ngModel)]="productItem.PolicyHolderTypeid" 
                        optionLabel="CodeDesc" (change)="newidtype()"
                        optionValue="Code"
                        placeholder="Select Identity Type">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.IDNumber' | translate}}*</label>
                    <ng-container *ngIf="!shows">
                        <input pInputText id="username" [(ngModel)]="productItem.IdNumber" (change)="onsavedatas('IdValue',null)" [maxLength]="maxTextLen" placeholder="Enter ID Number"/>
                    </ng-container>
                    <ngcontainer *ngIf="shows">
                        <div class="d-flex">
                            <input type="text" pInputText style="max-width:100px !important;margin-right:5px !important" class="layout"  [(ngModel)]="Idnumber" maxlength="5"><b>/</b>
                            <input type="text" pInputText style="max-width:70px !important;margin-right:5px !important" class="layout"  [(ngModel)]="Idnumber1" maxlength="3"><b>/</b>
                            <input type="text" pInputText style="max-width:30px !important;margin-right:5px !important" class="layout" [(ngModel)]="Idnumber2" maxlength="1"><b>/</b>
                        </div>
                    </ngcontainer>
                </div>
                <!-- <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.DateOfBirth' | translate}}</label>
                    <p-calendar class="w-full" 
                        styleClass="w-full" 
                        [(ngModel)]="productItem.dobOrRegDate"
                        dateFormat="dd/mm/yy"
                        placeholder="Enter  Date Of Birth">
                    </p-calendar>
                </div> -->
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.PreferedNotification' | translate}}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="notificationList" 
                        [(ngModel)]="productItem.PreferredNotification" 
                        optionLabel="CodeDesc" 
                        optionValue="Code"
                        placeholder="Select Perferred Notification">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{'HOME.TaxExcempted' | translate}}*</label>
                    <div class="flex justify-content-start gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient1"></p-radioButton>
                            <span for="ingredient1" class="ml-2">Yes</span>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="No" value="N" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient2"></p-radioButton>
                            <span for="ingredient2" class="ml-2">No</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column m-3" *ngIf="productItem.isTaxExempted=='Y'">
                    <label for="username">{{'HOME.TaxExcemptedNo' | translate}}*</label>
                    <input pInputText id="username" [(ngModel)]="productItem.TaxExemptedId" placeholder="Enter Tax Excempted No"/>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{'HOME.Status' | translate}}*</label>
                    <div class="flex justify-content-start gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.Clientstatus" inputId="ingredient1"></p-radioButton>
                            <span for="ingredient1" class="ml-2">{{'HOME.Active' | translate}}</span>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="No" value="N" [(ngModel)]="productItem.Clientstatus" inputId="ingredient2"></p-radioButton>
                            <span for="ingredient2" class="ml-2">{{'HOME.DeActive' | translate}}</span>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="Pending" value="P" [(ngModel)]="productItem.Clientstatus" inputId="ingredient3"></p-radioButton>
                            <span for="ingredient3" class="ml-2">{{'HOME.Pending' | translate}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 py-0">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.AddressDetails' | translate }}</h4>
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Street' | translate}} *</label>
                    <input pInputText id="username"  maxlength="100" (change)="onsavedatas('Address',null)" [(ngModel)]="productItem.Address1" placeholder="Enter Street"/>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Country' | translate}}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="countryList" 
                        (onChange)="getRegionList('change')"
                        [(ngModel)]="productItem.Country" 
                        optionLabel="CodeDesc"
                        optionValue="Code" 
                        placeholder="Select Country">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Region' | translate}}*</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="regionList" 
                        (onChange)="getStateList('change')"
                        [(ngModel)]="productItem.state" 
                        optionLabel="CodeDesc"
                        optionValue="Code" 
                        placeholder="Select Region">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.District' | translate}}</label>
                    <p-dropdown inputId="make" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="stateList" 
                        [(ngModel)]="productItem.CityName" 
                        optionLabel="CodeDesc"
                        optionValue="Code" 
                        placeholder="Select District">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3" *ngIf="productItem.CityName=='99999'">
                    <label for="username">Other District<span class="star">*</span></label>
                    <input pInputText type="text" maxlength="200" class="w-full" [(ngModel)]="productItem.districtcode">
                
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.PoBox' | translate}}</label>
                    <p-inputNumber mode="decimal" 
                        inputId="withoutgrouping" 
                        maxlength="15"
                        styleClass="w-full"
                        class="w-full"
                        placeholder="Enter Po Box"
                        [(ngModel)]="productItem.PinCode"
                        [useGrouping]="false"> 
                    </p-inputNumber>
                </div>
            </div>
        </div>
    </div>

    <ng-template #coporateAdditionalForm>
        <div class="col-12 lg:col-6 py-0">
            <div class="card">
                <h4 class="ml-3">Additional Information</h4>
                <div class="flex justify-content-start flex-wrap w-full form-container">
                    <div class="flex flex-column m-3">
                        <label for="username">Identity Type*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="policyHolderTypeList" 
                            [(ngModel)]="productItem.PolicyHolderTypeid" 
                            optionLabel="CodeDesc" 
                            optionValue="Code"
                            placeholder="Select Identity Type">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">ID Number*</label>
                        <input pInputText id="username" [(ngModel)]="productItem.IdNumber" (change)="onsavedatas('IdValue',null)" placeholder="Enter ID Number"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Registration Date*</label>
                        <p-calendar class="w-full" 
                            styleClass="w-full" 
                            [(ngModel)]="productItem.dobOrRegDate"
                            dateFormat="dd/mm/yy"
                            placeholder="Enter Registration Date">
                        </p-calendar>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Prefered Notification*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="notificationList" 
                            [(ngModel)]="productItem.PreferredNotification"
                            optionLabel="CodeDesc" 
                        optionValue="Code"
                            placeholder="Select Perferred Notification">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Status*</label>
                        <div class="flex justify-content-start gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.Clientstatus" inputId="ingredient1"></p-radioButton>
                                <span for="ingredient1" class="ml-2">Active</span>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="No" value="N" [(ngModel)]="productItem.Clientstatus" inputId="ingredient2"></p-radioButton>
                                <span for="ingredient2" class="ml-2">DeActive</span>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="Pending" value="P" [(ngModel)]="productItem.Clientstatus" inputId="ingredient3"></p-radioButton>
                                <span for="ingredient3" class="ml-2">Pending</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">VRN/ GST Number*</label>
                        <input pInputText id="username" [(ngModel)]="productItem.vrngst" maxlength="20" placeholder="Enter VRN/ GST Number"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Tax Excempted*</label>
                        <div class="flex justify-content-start gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient1"></p-radioButton>
                                <span for="ingredient1" class="ml-2">Yes</span>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="No" value="N" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient2"></p-radioButton>
                                <span for="ingredient2" class="ml-2">No</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column m-3" *ngIf="productItem.isTaxExempted=='Y'">
                        <label for="username">Tax Excempted No*</label>
                        <input pInputText id="username" [(ngModel)]="productItem.TaxExemptedId" placeholder="Enter Tax Excempted No"/>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #coporatePersonalForm>
        <div class="col-12 lg:col-6 py-0">
            <div class="card">
                <h4 class="ml-3">Personal Information</h4>
                <div class="flex justify-content-start flex-wrap w-full form-container">
                    <div class="flex flex-column m-3">
                        <label for="username">Customer Title*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            (change)="onTitleChange()"
                            [options]="titleList" 
                            [(ngModel)]="productItem.Title" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Customer Title">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Customer Name*</label>
                    <input pInputText id="username" maxlength="150" [(ngModel)]="productItem.ClientName" (change)="onsavedatas('Customer',null)" placeholder="Enter Customer Name"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Occupation*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="occupationList" 
                            [(ngModel)]="productItem.Occupation" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Occupation" (change)="onsavedatas('Occupation',null)">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Business Type*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="businessTypeList" 
                            [(ngModel)]="productItem.BusinessType" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select BusinessType">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Country Code*</label>
                        <p-dropdown inputId="make" 
                            class="w-full" 
                            styleClass="w-full"
                            [options]="mobileCodeList" 
                            [(ngModel)]="productItem.MobileCode" 
                            optionLabel="CodeDesc" 
                            optionValue="Code" 
                            placeholder="Select Code">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Mobile Number*</label>
                        <input pInputText id="username" maxlength="10" [(ngModel)]="productItem.MobileNo"
                        placeholder="Enter Phone Number" (onChange)="onsavedatas('Mobile',null)">
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">Email ID</label>
                        <input pInputText id="username" (change)="onsavedatas('Email',null)" [(ngModel)]="productItem.EmailId" placeholder="Enter Email ID"/>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="flex justify-content-between">
    <p-button label="Back" [routerLink]="['/customer']" class="p-3 mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
    <p-button class="p-3 text-l pi-button mr-0" (keyup)="onsavedatas('direct',productItem)" (click)="onsavedatas('direct',productItem)">Submit</p-button>
</div>


<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    
