<div class="card">
    <div class="grid">
        <div class="col-12 sm:col-6">
          <h3 class="mr-3">{{ 'HOME.CreateCustomer' | translate }}</h3>
          <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="col-12 sm:col-6">
            <div class="flex justify-content-start xl:justify-content-end align-items-center flex-wrap">
                <div class="flex align-items-center mr-4 flex-wrap">
                    <!-- <h5 class="mr-3 mb-2" *ngIf="insuranceId=='100027' || insuranceId=='100040'">Customer Type :</h5>
                    <h5 class="mr-3 mb-2" *ngIf="insuranceId!='100027' && insuranceId!='100040'">Account Type :</h5> -->
                    <h5 class="mr-3 mb-2" *ngIf="insuranceId=='100027'">{{ 'HOME.CustomerType' | translate }} :</h5>
                    <h5 class="mr-3 mb-2" *ngIf="insuranceId!='100027'">{{ 'HOME.AccountType' | translate }}:</h5>
                    <p-selectButton [options]="policyHolderList" (click)="setPolicyType()" [(ngModel)]="productItem.IdType" [optionLabel]="getDisplayName()" optionValue="Code"></p-selectButton>
                </div>
                <!-- <p-button class="mt-4 lg:mt-0" label="Change Customer" size="small" (click)="navigateToCustomer()"></p-button> -->
            </div>
        </div>
    </div>
</div> 
<p-messages [(value)]="messages" [enableService]="false"></p-messages>
<!-- <div class="grid mb-2 ml-2">
    <div class="col-12 md:col-6 lg:col-6 xl:col-6 offset-3">
        <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="value1"
        optionLabel="label"
        optionValue="value"
        (change)="onLanguageChange($event)"></p-selectButton><br>
    </div>
</div> -->

<div class="grid">
   
    <div class="col-12 lg:col-6 py-0" *ngIf="productItem.IdType == '1'; else coporatePersonalForm">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.PersonalInformation' | translate }}</h4>
            <!-- <h4 class="ml-3">Personal Information</h4> -->
            <ng-container *ngIf="(insuranceId=='100027' || insuranceId=='100040' || this.insuranceId=='100042') && productItem.IdType!='2'">
                <div class="flex flex-wrap w-full form-container justify-content-start">
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.CustomerTitle' | translate }}*</label>
                        <!-- <label for="username">Title *</label> -->
                        <p-dropdown inputId="Title" 
                            class="w-full" 
                            styleClass="w-full" 
                            (change)="onTitleChange('change')"
                            [options]="titleList" 
                            [(ngModel)]="productItem.Title" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code" 
                            [placeholder]="'HOME.SelectCustomerTitle' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <!-- <label for="username">First Name*</label> -->
                        <label for="username">{{ 'HOME.FirstName' | translate }}*</label>
                        <input pInputText id="FirstName"  maxlength="150" [(ngModel)]="productItem.ClientName" 
                        [placeholder]="'HOME.EnterFirstName' | translate"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.MiddleName' | translate }}*</label>
                        <!-- <label for="username">Middle Name</label> -->
                        <input pInputText id="middlename" maxlength="150" [(ngModel)]="productItem.MiddleName"
                        [placeholder]="'HOME.EnterMiddleName' | translate"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.LastName' | translate }}*</label>
                        <!-- <label for="username">Last Name</label> -->
                        <input pInputText id="lastname" maxlength="150" [(ngModel)]="productItem.LastName"
                        [placeholder]="'HOME.EnterLastName' | translate"/>
                    </div>
                </div>
            </ng-container>
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <ng-container *ngIf="(insuranceId!='100027' && insuranceId!='100040' && this.insuranceId!='100042') || productItem.IdType=='2'">
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.CustomerTitle' | translate }}*</label>
                        <!-- <label for="username">Title *</label> -->
                        <p-dropdown inputId="Title2"  class="w-full" 
                            styleClass="w-full"   (change)="onTitleChange('change')"
                            [options]="titleList"  [(ngModel)]="productItem.Title" 
                            [optionLabel]="getDisplayName()"  optionValue="Code" 
                            [placeholder]="'HOME.SelectCustomerTitle' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3" >
                        <label for="username">{{ 'HOME.CustomerName' | translate }} *</label>
                        <!-- <label for="username">Customer Name *</label> -->
                        <input pInputText id="CustomerName" maxlength="150" [(ngModel)]="productItem.ClientName" 
                        (change)="onsavedatas('Customer',null)" [placeholder]="'HOME.EnterCustomerName' | translate"/>
                    </div>
                </ng-container>
                
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Occupation' | translate }}*</label>
                    <!-- <label for="username">Occupation *</label> -->
                    <p-dropdown inputId="Occupation" 
                        class="w-full"  styleClass="w-full" 
                        [options]="occupationList" (onChange)="onsavedatas('Occupation',null)"
                        [(ngModel)]="productItem.Occupation"  [optionLabel]="getDisplayName()" 
                        optionValue="Code"  [placeholder]="'HOME.SelectOccupation' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Gender' | translate }}*</label>
                    <!-- <label for="username">Gender</label> -->
                    <p-dropdown inputId="gender" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="genderList" (onChange)="onGenderChange()"
                        [(ngModel)]="productItem.Gender"
                        [optionLabel]="getDisplayName()" 
                        optionValue="Code" 
                        [placeholder]="'HOME.SelectCode' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.CountryCode' | translate }}*</label>
                    <!-- <label for="username">Country Code *</label> -->
                    <p-dropdown inputId="CountryCode" 
                        class="w-full"  styleClass="w-full" 
                        [options]="mobileCodeList"  [(ngModel)]="productItem.MobileCode" 
                        [optionLabel]="getDisplayName()"  optionValue="Code" 
                        [placeholder]="'HOME.SelectCode' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.MobileNumber' | translate }}*</label>
                    <!-- <label for="username">Mobile No</label> -->
                    <input pInputText id="mobileNo" maxlength="10" [(ngModel)]="productItem.MobileNo"
                        [placeholder]="'HOME.EnterPhoneNumber' | translate" (change)="onsavedatas('Mobile',null)">
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.EmailId' | translate }}</label>
                    <!-- <label for="username">EmailId</label> -->
                    <input pInputText id="emailId" [(ngModel)]="productItem.EmailId" [placeholder]="'HOME.EnterEmailID' | translate"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 py-0" *ngIf="productItem.IdType == '1'; else coporateAdditionalForm">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.AdditionalInformation' | translate }}</h4>
            <!-- <h4 class="ml-3">Additional Information</h4> -->
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.IdentityType' | translate }}*</label>
                    <!-- <label for="username">ID Type *</label> -->
                    <p-dropdown inputId="IdType" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="policyHolderTypeList" 
                        [(ngModel)]="productItem.PolicyHolderTypeid" 
                        [optionLabel]="getDisplayName()" (onChange)="newidtype()"
                        optionValue="Code"
                        [placeholder]="'HOME.SelectIdentityType' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.IDNumber' | translate}}*</label>
                    <!-- <label for="username">ID No *</label> -->
                    <ng-container *ngIf="!shows">
                        <input pInputText id="IdNumber" [(ngModel)]="productItem.IdNumber" (change)="onsavedatas('IdValue',null)" [maxLength]="maxTextLen" [placeholder]="'HOME.EnterIDNumber' | translate"/>
                    </ng-container>
                    <ngcontainer *ngIf="shows">
                        <div class="d-flex">
                            <input type="text" id="idNumber1" pInputText style="max-width:100px !important;margin-right:5px !important" class="layout"  [(ngModel)]="Idnumber" maxlength="5"><b>/</b>&nbsp;
                            <input type="text" id="idNumber2" pInputText style="max-width:70px !important;margin-right:5px !important" class="layout"  [(ngModel)]="Idnumber1" maxlength="3"><b>/</b>&nbsp;
                            <input type="text" id="idNumber3" pInputText style="max-width:30px !important;margin-right:5px !important" class="layout" [(ngModel)]="Idnumber2" maxlength="1">
                        </div>
                    </ngcontainer>
                </div>
                <!-- <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.DateOfBirth' | translate}}</label>
                    <p-calendar class="w-full" 
                        styleClass="w-full" 
                        [(ngModel)]="productItem.dobOrRegDate"
                        dateFormat="dd/mm/yy"
                        placeholder="Enter  Date Of Birth">
                    </p-calendar>
                </div> -->
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.PreferedNotification' | translate}}*</label>
                    <!-- <label for="username">Preferred Notification *</label> -->
                    <p-dropdown inputId="PreferedNotification2"  id="PreferedNotification"
                        class="w-full"  styleClass="w-full"   [options]="notificationList" 
                        [(ngModel)]="productItem.PreferredNotification"   [optionLabel]="getDisplayName()" 
                        optionValue="Code" [placeholder]="'HOME.SelectPerferredNotification' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{'HOME.TaxExcempted' | translate}}*</label>
                    <!-- <label for="username">Tax Exempted *</label> -->
                    <div class="flex justify-content-start gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient1"></p-radioButton>
                            <span for="ingredient1" class="ml-2">{{'PREMIUM.Yes' | translate}}</span>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="No" value="N" [(ngModel)]="productItem.isTaxExempted" inputId="ingredient2"></p-radioButton>
                            <span for="ingredient2" class="ml-2">{{'PREMIUM.No' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column m-3" *ngIf="productItem.isTaxExempted=='Y'">
                    <label for="username">{{'HOME.TaxExcemptedNo' | translate}}*</label>
                    <!-- <label for="TaxExcemptedNo">Tax Exempted No *</label> -->
                    <input pInputText id="TaxExcemptedNo" [(ngModel)]="productItem.TaxExemptedId" [placeholder]="'HOME.EnterTaxExemptedNo' | translate"/>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{'HOME.Status' | translate}}*</label>
                    <!-- <label for="username">Status</label> -->
                    <div class="flex justify-content-start gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.Clientstatus" inputId="Status1"></p-radioButton>
                            <span for="Status1" class="ml-2">{{'HOME.Active' | translate}}</span>
                            <!-- <span for="Status1" class="ml-2">Active</span> -->
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="No" value="N" [(ngModel)]="productItem.Clientstatus" inputId="Status2"></p-radioButton>
                            <span for="Status2" class="ml-2">{{'HOME.DeActive' | translate}}</span>
                            <!-- <span for="Status1" class="ml-2">DeActive</span> -->
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="Pending" value="P" [(ngModel)]="productItem.Clientstatus" inputId="Status3"></p-radioButton>
                            <span for="Status3" class="ml-2">{{'HOME.Pending' | translate}}</span>
                            <!-- <span for="Status1" class="ml-2">Pending</span> -->
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 py-0">
        <div class="card">
            <h4 class="ml-3">{{ 'HOME.AddressDetails' | translate }}</h4>
            <!-- <h4 class="ml-3">Address Details</h4> -->
            <div class="flex justify-content-start flex-wrap w-full form-container">
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Street' | translate}} *</label>
                    <!-- <label for="username">Street *</label> -->
                    <input pInputText id="Street"  maxlength="100" (change)="onsavedatas('Address',null)" [(ngModel)]="productItem.Address1" [placeholder]="'HOME.EnterStreet' | translate"/>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Country' | translate}}*</label>
                    <!-- <label for="username">Country *</label> -->
                    <p-dropdown inputId="Country" 
                        class="w-full"  styleClass="w-full" [options]="countryList"  (onChange)="getRegionList('change')" [(ngModel)]="productItem.Country" 
                        [optionLabel]="getDisplayName()" optionValue="Code" [placeholder]="'HOME.SelectCountry' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.Region' | translate}}*</label>
                    <!-- <label for="username">Region *</label> -->
                    <p-dropdown inputId="Region" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="regionList" 
                        (onChange)="getStateList('change')"
                        [(ngModel)]="productItem.state" 
                        [optionLabel]="getDisplayName()"
                        optionValue="Code" 
                        [placeholder]="'HOME.SelectRegion' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3">
                    <label *ngIf="insuranceId=='100027' || insuranceId=='100040' || this.insuranceId=='100042'" for="username">{{ 'HOME.Municipal' | translate}} *</label>
                    <label *ngIf="insuranceId!='100027' && insuranceId!='100040' && this.insuranceId!='100042'" for="username">{{ 'HOME.District' | translate}}   *</label>
                    <p-dropdown inputId="Distrivt" 
                        class="w-full" 
                        styleClass="w-full" 
                        [options]="stateList" 
                        [(ngModel)]="productItem.CityName" 
                        [optionLabel]="getDisplayName()"
                        optionValue="Code" 
                        [placeholder]="'HOME.SelectDistrict' | translate">
                    </p-dropdown>
                </div>
                <div class="flex flex-column m-3" *ngIf="productItem.CityName=='99999'">
                    <label for="username">{{ 'HOME.OtherDistrict' | translate}}<span class="star">*</span></label>
                    <input pInputText type="text" id="otherDistrict" maxlength="200" class="w-full" [(ngModel)]="productItem.districtcode">
                
                </div>
                <div class="flex flex-column m-3">
                    <label for="username">{{ 'HOME.PoBox' | translate}}</label>
                    <!-- <label for="username">PoBox</label> -->
                    <p-inputNumber mode="decimal" 
                        inputId="poBoxNo" 
                        maxlength="15"
                        styleClass="w-full"
                        class="w-full"
                        [placeholder]="'HOME.EnterPoBox' | translate"
                        [(ngModel)]="productItem.PinCode"
                        [useGrouping]="false"> 
                    </p-inputNumber>
                </div>
            </div>
        </div>
    </div>

    <ng-template #coporateAdditionalForm>
        <div class="col-12 lg:col-6 py-0">
            <div class="card">
                <h4 class="ml-3">{{ 'HOME.AdditionalInformation' | translate}}</h4>
                <div class="flex justify-content-start flex-wrap w-full form-container">
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.IdentityType' | translate}} *</label>
                        <p-dropdown inputId="TdType2" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="policyHolderTypeList" 
                            [(ngModel)]="productItem.PolicyHolderTypeid" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code"
                            [placeholder]="'HOME.SelectIdentityType' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="IdNumber4">{{ 'HOME.IDNumber' | translate}} *</label>
                        <input pInputText id="IdNumber4" [(ngModel)]="productItem.IdNumber" (change)="onsavedatas('IdValue',null)" [placeholder]="'HOME.EnterIDNumber' | translate"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.RegistrationDate' | translate}}*</label>
                        <p-calendar class="w-full" 
                            styleClass="w-full" 
                            [(ngModel)]="productItem.dobOrRegDate"
                            dateFormat="dd/mm/yy"
                            [placeholder]="'HOME.EnterRegistrationDate' | translate">
                        </p-calendar>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.PreferedNotification' | translate}}*</label>
                        <p-dropdown inputId="PreferedNotification3" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="notificationList" 
                            [(ngModel)]="productItem.PreferredNotification"
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code"
                            [placeholder]="'HOME.SelectPerferredNotification' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{ 'HOME.Status' | translate}} *</label>
                        <div class="flex justify-content-start gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.Clientstatus" inputId="Status1"></p-radioButton>
                                <span for="Status1" class="ml-2">{{'HOME.Active' | translate}}</span>
                                <!-- <span for="Status1" class="ml-2">Active</span> -->
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="No" value="N" [(ngModel)]="productItem.Clientstatus" inputId="Status2"></p-radioButton>
                                <span for="Status2" class="ml-2">{{'HOME.DeActive' | translate}}</span>
                                <!-- <span for="Status1" class="ml-2">DeActive</span> -->
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="Pending" value="P" [(ngModel)]="productItem.Clientstatus" inputId="Status3"></p-radioButton>
                                <span for="Status3" class="ml-2">{{'HOME.Pending' | translate}}</span>
                                <!-- <span for="Status1" class="ml-2">Pending</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="vrnGstNo">{{'HOME.VRN/GSTNumber' | translate}} *</label>
                        <input pInputText id="vrnGstNo" [(ngModel)]="productItem.vrngst" maxlength="20" [placeholder]="'HOME.EnterVRN/GSTNumber' | translate"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="username">{{'HOME.TaxExempted' | translate}} *</label>
                        <div class="flex justify-content-start gap-3">
                            <div class="flex align-items-center">
                                <p-radioButton name="Yes" value="Y" [(ngModel)]="productItem.isTaxExempted" inputId="excemptedY"></p-radioButton>
                                <span for="Status3" class="ml-2">{{'PREMIUM.Yes' | translate}}</span>
                                <!-- <span for="excemptedY" class="ml-2">Yes</span> -->
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton name="No" value="N" [(ngModel)]="productItem.isTaxExempted" inputId="excemptedN"></p-radioButton>
                                <span for="Status3" class="ml-2">{{'PREMIUM.No' | translate}}</span>
                                <!-- <span for="excemptedN" class="ml-2">No</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column m-3" *ngIf="productItem.isTaxExempted=='Y'">
                        <label for="TaxExcemptedNo2">{{'HOME.TaxExemptedNo' | translate}} *</label>
                        <input pInputText id="TaxExcemptedNo2" [(ngModel)]="productItem.TaxExemptedId" [placeholder]="'HOME.EnterTaxExemptedNo' | translate"/>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #coporatePersonalForm>
        <div class="col-12 lg:col-6 py-0">
            <div class="card">
                <h4 class="ml-3">{{'HOME.PersonalInformation' | translate}}</h4>
                <div class="flex justify-content-start flex-wrap w-full form-container">
                    <div class="flex flex-column m-3">
                        <label for="CustomerTitle3">{{'HOME.CustomerTitle' | translate}} *</label>
                        <p-dropdown inputId="CustomerTitle3" 
                            class="w-full" 
                            styleClass="w-full" 
                            (change)="onTitleChange('change')"
                            [options]="titleList" 
                            [(ngModel)]="productItem.Title" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code" 
                            [placeholder]="'HOME.SelectCustomerTitle' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="CustomerName5">{{'HOME.CustomerName' | translate}}*</label>
                    <input pInputText id="CustomerName5" maxlength="150" [(ngModel)]="productItem.ClientName" (change)="onsavedatas('Customer',null)" [placeholder]="'HOME.EnterCustomerName' | translate"/>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="Occupation2">{{'HOME.Occupation' | translate}} *</label>
                        <p-dropdown inputId="Occupation2" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="occupationList" 
                            [(ngModel)]="productItem.Occupation" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code" 
                            [placeholder]="'HOME.SelectOccupation' | translate" (change)="onsavedatas('Occupation',null)">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="BusinessType2">{{'HOME.BusinessType' | translate}} *</label>
                        <p-dropdown inputId="BusinessType2" 
                            class="w-full" 
                            styleClass="w-full" 
                            [options]="businessTypeList" 
                            [(ngModel)]="productItem.BusinessType" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code" 
                            [placeholder]="'HOME.SelectBusinessType' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="CountryCode2">{{'HOME.CountryCode' | translate}} *</label>
                        <p-dropdown inputId="CountryCode2" 
                            class="w-full" 
                            styleClass="w-full"
                            [options]="mobileCodeList" 
                            [(ngModel)]="productItem.MobileCode" 
                            [optionLabel]="getDisplayName()" 
                            optionValue="Code" 
                            [placeholder]="'HOME.SelectCode' | translate">
                        </p-dropdown>
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="MobileNo2">{{'HOME.MobileNumber' | translate}}*</label>
                        <input pInputText id="MobileNo2" maxlength="10" [(ngModel)]="productItem.MobileNo"
                        [placeholder]="'HOME.EnterPhoneNumber' | translate" (onChange)="onsavedatas('Mobile',null)">
                    </div>
                    <div class="flex flex-column m-3">
                        <label for="emailId2">{{'HOME.EmailId' | translate}}</label>
                        <input pInputText id="emailId2" (change)="onsavedatas('Email',null)" [(ngModel)]="productItem.EmailId" [placeholder]="'HOME.EnterEmailID' | translate"/>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="flex justify-content-center">
    <p-button [label]="'PREMIUM.Back' | translate" [routerLink]="['/customer']" class="p-3 mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
    <p-button class="p-3 text-l pi-button mr-0" [label]="'LOGIN.Submit' | translate" (keyup)="onsavedatas('direct',productItem)" (click)="onsavedatas('direct',productItem)"></p-button>
</div>


<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    
