<div class="card">
    <p-tabView>
        <p-tabPanel header="Pending">
            <p-table  #dtEmployee
                        [globalFilterFields]="['BankFullName','BankShortName',
                                            'EffectiveDateStart','Status']"
                        [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
                        <ng-template pTemplate="caption">
                            <div class="flex flex wrap justify-content-end">
                                <div class="table-header">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="column" >
                    
                    <p-sortIcon [field]="column"></p-sortIcon> 
                    </th>
                </tr>
                </ng-template>
                    <ng-template pTemplate="body" >
                    <tr>
                        <!-- <td>{{ value.treatyCode }}</td>
                        <td>{{ value.year }}</td>
                        <td>{{ value.product }}</td>
                        <td>{{ value.section }}</td>
                        <td>{{ value.cover }}</td>
                        <td>{{ value.treatyPercentage }}</td>
                        <td>{{ value.retentionPercentage }}</td> -->
                    <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" ></button></td>
                    </tr>
                    </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Approved">    
            <p-table  #dtEmployee
                        [globalFilterFields]="['BankFullName','BankShortName',
                                            'EffectiveDateStart','Status']"
                        [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
                        <ng-template pTemplate="caption">
                            <div class="flex flex wrap justify-content-end">
                                <div class="table-header">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="column" >
                    
                    <p-sortIcon [field]="column"></p-sortIcon> 
                    </th>
                </tr>
                </ng-template>
                    <ng-template pTemplate="body" >
                    <tr>
                        <!-- <td>{{ value.treatyCode }}</td>
                        <td>{{ value.year }}</td>
                        <td>{{ value.product }}</td>
                        <td>{{ value.section }}</td>
                        <td>{{ value.cover }}</td>
                        <td>{{ value.treatyPercentage }}</td>
                        <td>{{ value.retentionPercentage }}</td> -->
                    <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" ></button></td>
                    </tr>
                    </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Rejected">
            <p-table  #dtEmployee
            [globalFilterFields]="['BankFullName','BankShortName',
                                'EffectiveDateStart','Status']"
            [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5" >
            <ng-template pTemplate="caption">
                <div class="flex flex wrap justify-content-end">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployee.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                        </span>
                    </div>
                </div>
            </ng-template>
    <ng-template pTemplate="header">
    <tr>
        <th [pSortableColumn]="column" >
        
        <p-sortIcon [field]="column"></p-sortIcon> 
        </th>
    </tr>
    </ng-template>
        <ng-template pTemplate="body" >
        <tr>
            <!-- <td>{{ value.treatyCode }}</td>
            <td>{{ value.year }}</td>
            <td>{{ value.product }}</td>
            <td>{{ value.section }}</td>
            <td>{{ value.cover }}</td>
            <td>{{ value.treatyPercentage }}</td>
            <td>{{ value.retentionPercentage }}</td> -->
        <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-outlined" ></button></td>
        </tr>
        </ng-template>
</p-table>
        </p-tabPanel>
      
    </p-tabView>
</div>