.p-su-header{
    border-bottom: 0 none;
    background: gainsboro !important;
    color: black !important;
    padding: 0.7rem !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}