<ng-container *ngIf="productId=='5'">
    <div class="flex flex-wrap justify-content-between">
        <h2>Choose Your Accessories Plan</h2>
    </div>
    <p class="mt-1">According to your budget you can pay monthly or one time* with %10 discount.</p>
    <div class="grid" >
        <div class="lg:col-6 md:col-6 col-12">
            <div class="mb-3" *ngIf="ChassisList.length>2">
                <label for="username">Chassis No*</label><br>
                <p-dropdown [options]="ChassisList" optionLabel="CodeDesc" [(ngModel)]="productItem.AccessoriesChassisNo" optionValue="Code" [showClear]="true" styleClass="w-20rem"></p-dropdown>
            </div>
            <div class="mb-3">
                <label for="username">Accessories*</label><br>
                <p-dropdown [options]="AccLists" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="productItem.AccessoriesType" [showClear]="true" styleClass="w-20rem"></p-dropdown>
            </div>
            <div class="mb-3">
                <label for="username">Serial No*</label><br>
                <input type="text" [(ngModel)]="productItem.AccessoriesSerialNo" pInputText class="w-20rem"/>
            </div>
            <div class="mb-3">
                <label for="username">Sum Insured*</label><br>
                <input type="text" pInputText class="w-20rem" [(ngModel)]="productItem.AccessoriesSI" (keyup)="individualCommaFormatted('accessories')"  />
            </div>
            <div class="flex flex-wrap justify-content-center">
                <p-button label="Save Accessories" (click)="onAccessoriesSubmit()" class="text-l pi-button"></p-button>
            </div>
        </div>
        <div class="lg:col-6 md:col-6 col-12">
                <div class="flex flex-wrap justify-content-between">
                    <h4 class="m-0 p-0">Existing Accessories</h4>
                </div>
                <hr class="m-0 p-0">
                <div class="card w-full p-0 m-0 mt-1">
                    <ng-container *ngFor="let entry of accessoriesList;let i=index">
                        
                            <p-table [value]="accessoriesList" [tableStyle]="{ 'min-width': '50rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Chassis No</th>
                                        <th>Name</th>
                                        <th>Serial No</th>
                                        <th>SumInsured</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product let-i="rowIndex">
                                    <ng-container *ngIf="product.RiskId && product.ItemId">
                                        <tr>
                                            <td>{{getAssName(product.RiskId)}}</td>
                                            <td>{{getAssCont(product.ItemId)}}</td>
                                            <td>{{product.SerialNoDesc}}</td>
                                            <td>{{product.SumInsured | commaseparator }}</td>
                                            <td>
                                                <p-button icon="pi pi-pencil" severity="danger" (click)="onEditAccessories(i,product)" styleClass="p-button-outlined"></p-button>&nbsp;
                                                <p-button icon="pi pi-trash" severity="danger" (click)="AccessoriesDelete(product)"  styleClass="p-button-outlined"></p-button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                            </p-table>
                    </ng-container>
                </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-end">
        <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
            <div class="flex flex-wrap justify-content-between" >
                <div >
                    <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                </div>
                <div >
                    <h6 class="text-white my-0">{{totalAccessoriesSI | commaseparator }}</h6>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-between" >
                <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                <div><h6 class="text-white my-0">{{actualAccessoriesSI | commaseparator }}</h6></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="productId!='5'">
    <!--tabIndex-->
    <p-tabView #tabView [activeIndex]="selectedTab" (onChange)="onTabClicked($event,tabView)">
        <p-tabPanel header="Location" *ngIf="buildingDetailsSection">
            <div class="grid" >
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldss" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveLocation()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>
                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="building.length!=0 && getlength(building,building.length)">
                      
                        <p-table [value]="building" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Address</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-build let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{build.LocationName}}</td>
                                        <td>{{build.BuildingAddress}}</td>
                                        <td>{{build.BuildingSuminsured | commaseparator }}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditBuilding(i,build)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="delete(build)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container *ngIf="buildingDetailsSection">
                        <p-button label="Proceed" (click)="onSave()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Content Risk" [disabled]="!fourth" *ngIf="first">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsContent" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveContent()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="Cotentrisk.length!=0">
                        <!--&& getContent(Contentrisk,Contentrisk?.length)-->
                        <p-table [value]="Cotentrisk" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Content Name</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-content let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(content?.RiskId)}}</td>
                                        <td>{{content.ContentRiskDesc}}</td>
                                        <td>{{content.SumInsured | commaseparator }}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditContent(i,content)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="ContentDelete(content)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveContentRisk()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Personal Accident" [disabled]="!fourth" *ngIf="second">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsPersonalAccident" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSavePersonalAccidentDetails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="PersonalAssistantList.length!=0 && getPersonalAccident(PersonalAssistantList,PersonalAssistantList.length)">
                        <p-table [value]="PersonalAssistantList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Salary</th>
                                    <th>Person Name</th>
                                    <th>Occupation Desc</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Accident let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(Accident.RiskId)}}</td>
                                        <td>{{Accident.Salary|commaseparator}}</td>
                                        <td>{{Accident.PersonName}}</td>
                                        <td>{{Accident.OccupationDesc}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditPersonalAccident(i,Accident)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="PersonalAccidentDelete(Accident)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSavePersonalAccident()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="All Risk" [disabled]="!fourth" *ngIf="third">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsRisk" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveAllRiskDEtails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="risk.length!=0">
                        <!--&& getRisk(risk,risk.length)-->
                        <p-table [value]="risk" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>SumInsured</th>
                                    <th>ContentName</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-risk let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(risk.RiskId)}}</td>
                                        <td>{{risk.SumInsured}}</td>
                                        <td>{{getContentssName(risk.ItemId)}}</td>
                                        <td>{{risk.SerialNoDesc}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditAllRisk(i,risk)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="AllRiskDelete(risk)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveAllRisk()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <!--onSaveAllRisk(-->
        </p-tabPanel>

        <p-tabPanel header="Personal Indemenity" [disabled]="!fourth" *ngIf="fifth">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsPersonalInd" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveprofessiona()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="Intermedity.length!=0 && getIntermity(Intermedity,Intermedity.length)">
                        <p-table [value]="Intermedity" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Content Name</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Int let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(Int.RiskId)}}</td>
                                        <td>{{Int.Salary | commaseparator}}</td>
                                        <td>{{Int.PersonName}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditPersonalInd(i)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="PersonalIndDelete(Int)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>

                <div class="flex flex-wrap justify-content-center mt-4">
                    <div class="mb-4">
                        <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                        <ng-container>
                            <p-button label="Proceed" (click)="onSavePersonalIntermedity()" class="text-l pi-button mr-0"></p-button>
                        </ng-container>
                    </div>
                </div>
               
            </div>
        </p-tabPanel>
        <p-tabPanel [header]="checkPersonalLimit()" *ngIf="eleven">
            <!--header="Professional Indemenity"-->
            <div class="grid">
                <!-- <div class="lg:col-6 md:col-6 col-12">
                        <div class="lg:col-6 md:col-6 col-12">
                        <label for="username">First Name</label>
                        <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                        </div>
                    
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Last Name</label>
                            <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                            </div>
                  
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Relation Type</label>
                            <div class="input-control-container">
                                <ng-select class="custom" [items]="relationList" [(ngModel)]="ProductCode" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                          </div>
                        </div>
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Nationality Id</label>
                            <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                        </div>
                   
             <div class="lg:col-6 md:col-6 col-12">
                <mat-form-field appearance="fill" style="width: 130px;">
                    <input matInput [matDatepicker]="picker" disabled [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
                       
                  
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveContent()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div> -->

                <div class="lg:col-12 md:col-12 col-12">
                    <ng-container *ngIf="selectedProductList.length!=0">
                        <p-table [value]="selectedProductList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Relation Type</th>
                                    <th>Nationality Id</th>
                                    <th>Date Of Birth</th>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Health let-i="rowIndex">
                                <ng-container>
                                
                                    <tr style="width:100% !important;">
                                        <td>
                                            <!-- <label for="username">First Name</label> -->
                                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.FirstName"/>
                                        </td>
                                        <td>
                                            <!-- <label for="username">Last Name</label> -->
                                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.LastName"/>
                                        </td>
                                        <td>
                                            <ng-select class="custom" [items]="relationList" [(ngModel)]="Health.RelationType" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                                            </ng-select>
                                        </td>
                                        <td>
                                            
                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.NationalityId" placeholder="Enter Nationality Id" />
                                        </td>
                                        <td>
                                            <mat-form-field appearance="fill" style="width: 130px;">
                                                <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="Health.DateOfBirth">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <!-- <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditBuilding(i)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="delete(build)"  styleClass="p-button-outlined"></p-button>
                                        </td> -->
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
                <div class="flex flex-wrap justify-content-center mt-4">
                    <div class="mb-4">
                        <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                        <ng-container>
                            <p-button label="Proceed" (click)="onSaveHealth()" class="text-l pi-button mr-0"></p-button>
                        </ng-container>
                    </div>
                </div>
            </div>
          
        </p-tabPanel>


        <p-tabPanel [header]="checkEmplyeeSection()" [disabled]="!fourth" *ngIf="seven">
            <div class="grid">
                <div class="lg:col-1 md:col-1 col-12">

                </div>
                <div class="lg:col-10 md:col-10 col-12">
                    <ng-container *ngIf="employeeList.length!=0 && getemployeeList(employeeList,employeeList.length)">
                        <p-table [value]="employeeList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Address</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-employee let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(employee?.RiskId)}}</td>
                                        <td>{{employee.Address}}</td>
                                        <td>{{employee.NationalityId}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditEmployee(i,employee)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="EmployeeDelete(employee,i)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </div>
            <div class="grid mt-2">
                <b>Employee Details</b>
                <div class="lg:col-1 md:col-1 col-12">

                </div>
                <div class="lg:col-10 md:col-10 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsEmpFields" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onemployeesavelast()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>
            </div>
          
            <div class="text-center mt-2">
                <!-- <p-button label="Back" *ngIf="!enableEmployeeUploadSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" (click)="getBack('employers')" routerLinkActive="router-link-active"><<&nbsp;Back</p-button> -->
                <p-button label="Save & Proceed" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" (click)="onSaveEmployeeDetails('save')"></p-button>
                <p-button label="Proceed" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" (click)="onSaveEmployeeDetails('proceed')" routerLinkActive="router-link-active" routerLinkActive="router-link-active"></p-button>
                <!-- <button class="custom-btn btn-6 maan-button-data mx-2" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" matRipple (click)="onSaveEmployeeDetails('direct')" routerLinkActive="router-link-active" routerLinkActive="router-link-active">Proceed</button> -->
            </div>
        </p-tabPanel>


        
        <p-tabPanel header="ElectricalEquipment" [disabled]="!fourth" *ngIf="six">
            <div class="grid">
                <div class="lg:col-4 md:col-4 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsElectronic" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveElectronicdetails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="ElectronicItem.length!=0">
                        <p-table [value]="ElectronicItem" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>SumInsured</th>
                                    <th>ContentName</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Electronic let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(Electronic.RiskId)}}</td>
                                        <td>{{Electronic.SumInsured}}</td>
                                        <td>{{getElectronicName(Electronic.ItemId)}}</td>
                                        <td>{{Electronic.PurchaseYear}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onElectroncequipment(i,Electronic)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="ElectronicDelete(Electronic)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveElectronic()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <!--onSaveAllRisk(-->
        </p-tabPanel>

    </p-tabView>
</ng-container>


<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:20rem md:w-30rem">
    <ng-template pTemplate="header">
        <h3>Jared Black</h3>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-wrap justify-content-between">
            <p-chip label="Customer ID" icon="pi pi-user"></p-chip>
            <div class="button-group">
                <p-button styleClass="p-button-outlined" icon="pi pi-phone"></p-button>
                <p-button styleClass="p-button-outlined" icon="pi pi-whatsapp"></p-button>
                <p-button styleClass="p-button-outlined" icon="pi pi-envelope"></p-button>
            </div>
        </div>
        <hr>
        <div class="card w-full">
            <h4>Accessories 1</h4>
            <div class="grid">
                <div class="col-9">
                    <p>JRED</p>
                    <div class="flex flex-wrap mb-3">
                        <p-dropdown [options]="years" optionLabel="label" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="col-3 text-right">
                    <h4 class="text-orange-500 mb-0">$100</h4>
                    <p><s>$140</s></p>
                    <p class="text-orange-500">40% Off</p>
                </div>
            </div>
            <div class="grid justify-content-between px-3">
                <p>40% discount is applied for Accessories</p>
                <p-button icon="pi pi-trash" severity="danger" styleClass="p-button-outlined"></p-button>
            </div>
        </div>
    </ng-template>
    
    
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap justify-content-between">
            <div class="mr-0">
                <p-button class="p-3 text-l pi-button">Proceed</p-button>
            </div>
            <div class="text-white surface-900 px-6 py-3 border-round-lg flex" (click)="showSidebar()">
                <h5 class="text-white mb-1 mr-3">Total</h5>
                <div>
                    <p class="mb-0"><s>$455</s></p>
                    <h6 class="text-white my-0">$400/ yearly</h6>
                </div>
            </div>
        </div>
    </ng-template>
</p-sidebar>
