
      <div class="col-12 sm:col-12 md:col-12">
        <div class="flex flex-wrap justify-content-end">
                <div *ngIf="quoteNo"><b>QuoteNo- <span class="primaryTextColor">{{quoteNo}}</span></b>&nbsp;|&nbsp;</div>
                <div *ngIf="quoteRefNo">RefNo- <span class="primaryTextColor">{{quoteRefNo}}</span></div>
        </div>
        </div>
<ng-container *ngIf="productId=='5'">
    <div class="flex flex-wrap justify-content-between">
        <h2>Choose Your Accessories Plan</h2>
    </div>
    <p class="mt-1">According to your budget you can pay monthly or one time* with %10 discount.</p>
    <div class="grid" >
        <div class="lg:col-6 md:col-6 col-12">
            <form [formGroup]="form">
                <formly-form [form]="form" [fields]="Accfieldss" [model]="productItem"></formly-form>
            </form>
            <div class="flex flex-wrap justify-content-center">
                <p-button label="Save Accessories" (click)="onAccessoriesSubmit()" class="text-l pi-button"></p-button>
            </div>
            <!-- <div class="mb-3" *ngIf="ChassisList.length>2">
                <label for="username">Chassis No*</label><br>
                <p-dropdown [options]="ChassisList" optionLabel="CodeDesc" [(ngModel)]="productItem.AccessoriesChassisNo" optionValue="Code" [showClear]="true" styleClass="w-20rem"></p-dropdown>
            </div>
            <div class="mb-3">
                <label for="username">Accessories*</label><br>
                <p-dropdown [options]="AccLists" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="productItem.AccessoriesType" [showClear]="true" styleClass="w-20rem"></p-dropdown>
            </div>
            <div class="mb-3">
                <label for="username">Serial No*</label><br>
                <input type="text" [(ngModel)]="productItem.AccessoriesSerialNo" pInputText class="w-20rem"/>
            </div>
            <div class="mb-3">
                <label for="username">Sum Insured*</label><br>
                <input type="text" pInputText class="w-20rem" [(ngModel)]="productItem.AccessoriesSI"  />
            </div>
            <div class="flex flex-wrap justify-content-center">
                <p-button label="Save Accessories" (click)="onAccessoriesSubmit()" class="text-l pi-button"></p-button>
            </div> -->
        </div>
        <div class="lg:col-6 md:col-6 col-12">
                <div class="flex flex-wrap justify-content-between">
                    <h4 class="m-0 p-0">Existing Accessories</h4>
                </div>
                <hr class="m-0 p-0">
                <div class="card w-full p-0 m-0 mt-1" *ngIf="accessoriesList.length!=0 && checkAccessories()">
                            <p-table [value]="accessoriesList" [tableStyle]="{ 'min-width': '50rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Chassis No</th>
                                        <th>Name</th>
                                        <th>Serial No</th>
                                        <th>SumInsured</th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product let-i="rowIndex">
                                    <ng-container *ngIf="product.RiskId && product.ItemId">
                                        <tr>
                                            <td>{{getAssName(product.RiskId)}}</td>
                                            <td>{{getAssCont(product.ItemId)}}</td>
                                            <td>{{product.SerialNoDesc}}</td>
                                            <td>{{product.SumInsured | commaseparator }}</td>
                                            <td>
                                                <p-button icon="pi pi-pencil" severity="danger" (click)="onEditAccessories(i,product)" styleClass="p-button-outlined"></p-button>&nbsp;
                                                <p-button icon="pi pi-trash" severity="danger" (click)="Acssdelete(product)"  styleClass="p-button-outlined"></p-button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                            </p-table>
                </div>
                <div class="flex flex-wrap justify-content-center mt-2" *ngIf="accessoriesList.length==0 || !checkAccessories()">
                    <b>No Accessories Available</b>
                </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-center mt-4">
        <div class="mb-4">
            <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" *ngIf="!endorsementSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
            <p-button label="Back" [routerLink]="['/quotation/plan/premium-info']" *ngIf="endorsementSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
            <ng-container>
                <p-button label="Proceed" (click)="onSaveAccessories()" class="text-l pi-button mr-0"></p-button>
            </ng-container>
        </div>
    </div>
    <div class="flex flex-wrap justify-content-end">
        <div class="text-white surface-900 px-6 py-3 border-round-lg">
            <div class="flex flex-wrap justify-content-between" >
                <div >
                    <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                </div>
                <div >
                    <h6 class="text-white my-0">{{totalAccessoriesSI | commaseparator }}</h6>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-between" >
                <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                <div><h6 class="text-white my-0">{{actualAccessoriesSI | commaseparator }}</h6></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="productId!='5'">
    <!--tabIndex-->
    <p-tabView #tabView [activeIndex]="selectedTab" (onChange)="onTabClicked($event,tabView)">
        <!-- <p-tabPanel header="Location" *ngIf="buildingDetailsSection">
            <div class="grid" >
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldss" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveLocation('save')" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>
                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="building.length!=0 && getlength(building,building.length)">
                      
                        <p-table [value]="building" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Address</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-build let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{build.LocationName}}</td>
                                        <td>{{build.BuildingAddress}}</td>
                                        <td>{{build.BuildingSuminsured | commaseparator }}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditBuilding(i,build)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="delete(build)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container *ngIf="Buildingsections">
                        <p-button label="Proceed" (click)="onSave()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end" *ngIf="Addtional">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div >
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div >
                            <h6 class="text-white my-0">{{totalBuildingSumInsured | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualBuildingSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
        </p-tabPanel> -->
        <!-- <p-tabPanel header="Content Risk" [disabled]="!allfields" *ngIf="first">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsContent" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveContent()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="Cotentrisk.length!=0 && getAccessorieslength(Cotentrisk,Cotentrisk.length)">
                        <p-table [value]="Cotentrisk" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Content Name</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-content let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(content?.RiskId)}}</td>
                                        <td>{{content.ContentRiskDesc}}</td>
                                        <td>{{content.SumInsured | commaseparator }}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditContent(i,content)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="ContentDelete(content)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveContentRisk('proceed')" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div >
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div >
                            <h6 class="text-white my-0">{{totalContentSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualContentSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
        </p-tabPanel> -->
        <p-tabPanel header="Personal Accident" [disabled]="!allfields" *ngIf="second">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsPersonalAccident" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSavePersonalAccidentDetails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="PersonalAssistantList.length!=0 && !(PersonalAssistantList.length==1 && currentPersonalAccidentIndex==0)">
                        <p-table [value]="PersonalAssistantList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Salary</th>
                                    <th>Person Name</th>
                                    <th>Occupation Desc</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Accident let-i="rowIndex">
                                <ng-container>
                                    <tr *ngIf="currentPersonalAccidentIndex!=i">
                                        <td>{{getLocationName(Accident.RiskId)}}</td>
                                        <td>{{Accident.Salary}}</td>
                                        <td>{{Accident.PersonName}}</td>
                                        <td>{{Accident.OccupationDesc}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditPersonalAccident(i,Accident)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="PersonalAccidentDelete(Accident)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSavePersonalAccident('proceed')" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalPASI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualPersonalAccSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <!-- <p-tabPanel header="All Risk" [disabled]="!allfields" *ngIf="third">
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsRisk" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveAllRiskDEtails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="risk.length!=0 && getRisk(risk,risk.length)">
                      
                        <p-table [value]="risk" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>SumInsured</th>
                                    <th>ContentName</th>
                                    <th>Serial No</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-risk let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(risk.RiskId)}}</td>
                                        <td>{{risk.SumInsured}}</td>
                                        <td>{{getContentssName(risk.ItemId)}}</td>
                                        <td>{{risk.SerialNoDesc}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditAllRisk(i,risk)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="AllRiskDelete(risk)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveAllRisk('proceed')" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalAllRiskSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualAllRiskSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
          
        </p-tabPanel> -->

        <p-tabPanel header="Personal Indemenity" [disabled]="!allfields" *ngIf="fifth">
            <!--[disabled]="allfields"-->
            <div class="grid">
                <div class="lg:col-6 md:col-6 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsPersonalInd" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveprofessiona()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="Intermedity.length!=0 && getIntermity(Intermedity,Intermedity.length)">
                        <p-table [value]="Intermedity" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>Content Name</th>
                                    <th>SumInsured</th>
                                    <th>Nationality Id</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Int let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(Int.RiskId)}}</td>
                                        <td>{{Int.Salary | commaseparator}}</td>
                                        <td>{{Int.PersonName}}</td>
                                        <td>{{Int.NationalityId}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditPersonalInd(i,Int)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="PersonalIndDelete(Int)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSavePersonalIntermedity('proceed')" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalPersIntSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualPersonalIntSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel [header]="checkPersonalLimit()" [disabled]="!allfields" *ngIf="eleven">
            <!--header="Professional Indemenity"-->
            <div class="grid">
                <!-- <div class="lg:col-6 md:col-6 col-12">
                        <div class="lg:col-6 md:col-6 col-12">
                        <label for="username">First Name</label>
                        <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                        </div>
                    
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Last Name</label>
                            <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                            </div>
                  
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Relation Type</label>
                            <div class="input-control-container">
                                <ng-select class="custom" [items]="relationList" [(ngModel)]="ProductCode" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                                </ng-select>
                          </div>
                        </div>
                        <div class="lg:col-6 md:col-6 col-12">
                            <label for="username">Nationality Id</label>
                            <input pInputText id="username" maxlength="50"  placeholder="Enter Customer Name" />
                        </div>
                   
             <div class="lg:col-6 md:col-6 col-12">
                <mat-form-field appearance="fill" style="width: 130px;">
                    <input matInput [matDatepicker]="picker" disabled [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
                       
                  
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveContent()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div> -->

                <div class="lg:col-12 md:col-12 col-12">
                    <ng-container *ngIf="selectedProductList.length!=0">
                        <p-table [value]="selectedProductList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Relation Type</th>
                                    <th>Nationality Id</th>
                                    <th>Date Of Birth</th>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Health let-i="rowIndex">
                                <ng-container>
                                
                                    <tr style="width:100% !important;">
                                        <td>
                                            <!-- <label for="username">First Name</label> -->
                                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.FirstName"/>
                                        </td>
                                        <td>
                                            <!-- <label for="username">Last Name</label> -->
                                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.LastName"/>
                                        </td>
                                        <td>
                                            <ng-select class="custom" [items]="relationList" [(ngModel)]="Health.RelationType" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                                            </ng-select>
                                        </td>
                                        <td>
                                            
                            <input pInputText id="username" maxlength="50" [(ngModel)]="Health.NationalityId" placeholder="Enter Nationality Id" />
                                        </td>
                                        <td>
                                            <mat-form-field appearance="fill" style="width: 130px;">
                                                <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="Health.DateOfBirth">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <!-- <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditBuilding(i)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="delete(build)"  styleClass="p-button-outlined"></p-button>
                                        </td> -->
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
                <div class="flex flex-wrap justify-content-center mt-4">
                    <div class="mb-4">
                        <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                        <ng-container>
                            <p-button label="Proceed" (click)="onSaveHealth()" class="text-l pi-button mr-0"></p-button>
                        </ng-container>
                    </div>
                </div>
            </div>
          
        </p-tabPanel>


        <p-tabPanel [header]="checkEmplyeeSection()" [disabled]="!allfields" *ngIf="seven">
            <div class="grid">
                <div class="lg:col-1 md:col-1 col-12">

                </div>
                <div class="lg:col-10 md:col-10 col-12">
                    <!-- <p-button label="Upload" (click)="onUploadEmployeeSection()" class="text-l pi-button mr-0"><i class="fa fa-upload"></i>&nbsp;</p-button>
                    <div *ngIf="enableEmployeeUploadSection && !showEmpRecordsSection">
                        <div class="row" *ngIf="uploadStatus==null">
                            <div class="col-md-8 col-lg-8 offset-2" >
                                <input style="display: none;" type="file" (change)="onUploadDocuments($event,null,'direct','select')" #doc>
                                <div class="imag-card my-3" appDragDropFileUpload (fileDropped)="onUploadDocuments($event,null,'direct','drag')" (click)="doc.click()">
                                    <div>
                                        <div class="center">
                                            <b class="text-dark" style="font-size:1rem">
                                                <i class="far fa-images"></i> Drag or Click</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="uploadDocList.length!=0 && uploadStatus==null">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <table class="table" id="capture_table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                            <th scope="col"><span class="spancommon">FileName</span></th>
                                            <th scope="col"><span class="spancommon">Delete</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let document of uploadDocList;let i=index">
                                            <th scope="row">{{i+1}}</th>
                                            <td><span class="spancommon">{{document.filename}}</span></td>
                                            <td>
                                                <button class="btn-sm btn btn-danger" (click)="uploadDocList=[];"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center mt-2" *ngIf="uploadStatus==null">
                            <p-button label="Cancel" class="mr-5" (click)="enableEmployeeUploadSection=!enableEmployeeUploadSection;uploadDocList=[]"></p-button>
                            <p-button label="Upload" *ngIf="uploadDocList.length!=0" (click)="onUploadEmployeeDetails()"></p-button>
                            
                        </div>
                        <div class="text-center">
                            <p>{{uploadStatus}}</p>
                        </div>
                    </div>
                    <div *ngIf="enableEmployeeUploadSection && showEmpRecordsSection">
                        <div class="row" *ngIf="employeeUploadRecords.length!=0">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <table class="table" id="capture_table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                            <th scope="col"><span class="spancommon">Uploaded Date</span></th>
                                            <th scope="col"><span class="spancommon">Total Records</span></th>
                                            <th scope="col"><span class="spancommon">Valid Records</span></th>
                                            <th scope="col"><span class="spancommon">Error Records</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let records of employeeUploadRecords;let i=index">
                                            <th scope="row">{{i+1}}</th>
                                            <td><span class="spancommon">{{records.UploadDate}}</span></td>
                                            <td> <span class="spancommon">{{records.TotalRecords}}</span> </td>
                                            <td> <span class="spancommon">{{records.ValidRecords}}</span> </td>
                                            <td> <span class="spancommon">{{records.ErrorRecords}}</span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mt-2" *ngIf="errorRecords.length==0">
                                <button class="custom-btn btn-7 maan-button-data mx-2" (click)="updateEmployeeRecordsTable()">Move Records</button>
                            </div>
                            <ng-container *ngIf="errorRecords.length!=0">
                                <div class="d-flex justify-content-between maan-grid-item maan-grid-item-title">
                                    <div class="headcommon" >
                                        <span><i class="fas fa-users mx-1 mt-3"></i></span>
                                        <span class="spancommon span_font_size" style="font-weight:600">Error Details</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12" >
                                    <table class="table" id="capture_table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="border_radius"><span class="spancommon">S.No</span></th>
                                                <th scope="col"><span class="spancommon">Employee Name</span></th>
                                                <th scope="col"><span class="spancommon">Date Of Birth</span></th>
                                                <th scope="col"><span class="spancommon">Nationality</span></th>
                                                <th scope="col"><span class="spancommon">Error Reason</span></th>
                                                <th scope="col"><span class="spancommon">Action</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let records of errorRecords|paginate:{itemsPerPage: 5, currentPage:j , id:'j'};let i=index">
                                                <th scope="row">{{i+1}}</th>
                                                <td><span class="spancommon">{{records.EmployeeName}}</span></td>
                                                <td> <span class="spancommon">{{records.DateOfBirth}}</span> </td>
                                                <td> <span class="spancommon">{{records.NationalityId}}</span> </td>
                                                <td> <span class="spancommon">{{records.ErrorDesc}}</span> </td>
                                                <td> 
                                                        <button class="btn btn-primary" (click)="onEditEmployeeError(records,mymodal,'employee')"><i class="fa fa-pencil"></i></button>    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="j=$event"  id="j"></pagination-controls>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->
                    <!-- <button class="groupBtnMembers__btn custom-btn btn-7 maan-button-data  mx-2" (click)="onUploadEmployeeSection()"><i class="fa fa-upload"></i>&nbsp;Upload</button> -->
                    <ng-container *ngIf="employeeList.length!=0 && getemployeeList(employeeList,employeeList.length)">
                        <p-table [value]="employeeList" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Occupation</th>
                                    <th>Location Name</th>
                                    <th>SumInsured</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-employee let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{employee.EmployeeName}}</td>
                                        <td>{{employee.OccupationDesc}}</td>
                                        <td>{{employee.LocationName}}</td>
                                        <td>{{employee.Salary}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onEditEmployee(i,employee)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="EmployeeDelete(employee,i)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </div>
            <div class="grid mt-2">
                <b>Employee Details</b>
                <div class="lg:col-1 md:col-1 col-12">

                </div>
                <div class="lg:col-10 md:col-10 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsEmpFields" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onemployeesavelast()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>
            </div>
          
            <div class="text-center mt-2">
                <p-button label="Back" class="mr-4 text-l mr-0" [routerLink]="['/quotation/plan/premium-details']" styleClass="p-button-outlined"></p-button>
                <!-- <p-button label="Save & Proceed" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" (click)="onSaveEmployeeDetails('save')"></p-button> -->
                <p-button label="Proceed" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" class="mr-4 text-l mr-0" styleClass="p-button-outlined" (click)="onSaveEmployeeDetails('proceed')" routerLinkActive="router-link-active" routerLinkActive="router-link-active"></p-button>
                <!-- <button class="custom-btn btn-6 maan-button-data mx-2" *ngIf="employeeList.length!=0 && !enableEmployeeUploadSection" matRipple (click)="onSaveEmployeeDetails('direct')" routerLinkActive="router-link-active" routerLinkActive="router-link-active">Proceed</button> -->
            </div>
            <!-- <div class="flex flex-wrap justify-content-between mt-2">
            <div style="min-width: 300px !important;text-align:right !important;">
                <div class="lg:col-6">
                    <h6 class="surface-900 text-white mt-0">{{totalPremium | commaseparator}}&nbsp;({{currencyCode}})</h6>
                </div>
            </div>
            </div> -->
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalEmpIntSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" *ngIf="productId=='14'">
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualEmployeeSI | commaseparator }}</h6></div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" *ngIf="productId=='32'">
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualFidelitySI | commaseparator }}</h6></div>
                    </div>


                </div>
            </div>
        </p-tabPanel>


        
        <p-tabPanel header="ElectricalEquipment" [disabled]="!allfields" *ngIf="six">
            <div class="grid">
                <div class="lg:col-4 md:col-4 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fieldsElectronic" [model]="productItem"></formly-form>
                    </form>
                    <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onSaveElectronicdetails()" class="text-l pi-button mr-0"></p-button>
                    </div>
                </div>

                <div class="lg:col-6 md:col-6 col-12">
                    <ng-container *ngIf="ElectronicItem.length!=0">
                        <p-table [value]="ElectronicItem" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location Name</th>
                                    <th>SumInsured</th>
                                    <th>ContentName</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-Electronic let-i="rowIndex">
                                <ng-container>
                                    <tr>
                                        <td>{{getLocationName(Electronic.RiskId)}}</td>
                                        <td>{{Electronic.SumInsured}}</td>
                                        <td>{{getElectronicName(Electronic.ItemId)}}</td>
                                        <td>{{Electronic.PurchaseYear}}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" severity="danger" (click)="onElectroncequipment(i,Electronic)" styleClass="p-button-outlined"></p-button>&nbsp;
                                            <p-button icon="pi pi-trash" severity="danger" (click)="ElectronicDelete(Electronic)"  styleClass="p-button-outlined"></p-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
               
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onSaveElectronic()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalElectrIntSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualElectronicIntSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div>
            <!--onSaveAllRisk(-->
        </p-tabPanel>

        <p-tabPanel header="Medical Details" [disabled]="!allfields" *ngIf="newten">
            <div class="grid">
                <div class="lg:col-12 md:col-12 col-12">
                    <form [formGroup]="form">
                        <formly-form [form]="form" [fields]="fields" [model]="productItem"></formly-form>
                    </form>
                    <!-- <div class="flex flex-wrap justify-content-center mt-2">
                        <p-button label="Save" (click)="onMedicalSave()" class="text-l pi-button mr-0"></p-button>
                    </div> -->
                </div>
                
            </div>
            <div class="flex flex-wrap justify-content-center mt-4">
                <div class="mb-4">
                    <p-button label="Back" [routerLink]="['/quotation/plan/premium-details']" class="mr-4 text-l mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
                    <ng-container>
                        <p-button label="Proceed" (click)="onMedicalSave()" class="text-l pi-button mr-0"></p-button>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="flex flex-wrap justify-content-end">
                <div class="text-white surface-900 px-6 py-3 border-round-lg" (click)="showSidebar()">
                    <div class="flex flex-wrap justify-content-between" >
                        <div>
                            <h5 class="text-white mb-1 mr-3">Total SumInsured</h5>
                        </div>
                        <div>
                            <h6 class="text-white my-0">{{totalElectrIntSI | commaseparator }}</h6>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-content-between" >
                        <div><h5 class="text-white mb-1 mr-3">Actual SumInsured</h5></div>
                        <div><h6 class="text-white my-0">{{actualElectronicIntSI | commaseparator }}</h6></div>
                    </div>
                </div>
            </div> -->
        </p-tabPanel>

    </p-tabView>
</ng-container>


<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:20rem md:w-30rem">
    <ng-template pTemplate="header">
        <h3>Jared Black</h3>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-wrap justify-content-between">
            <p-chip label="Customer ID" icon="pi pi-user"></p-chip>
            <div class="button-group">
                <p-button styleClass="p-button-outlined" icon="pi pi-phone"></p-button>
                <p-button styleClass="p-button-outlined" icon="pi pi-whatsapp"></p-button>
                <p-button styleClass="p-button-outlined" icon="pi pi-envelope"></p-button>
            </div>
        </div>
        <hr>
        <div class="card w-full">
            <h4>Accessories 1</h4>
            <div class="grid">
                <div class="col-9">
                    <p>JRED</p>
                    <div class="flex flex-wrap mb-3">
                        <p-dropdown [options]="years" optionLabel="label" [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="col-3 text-right">
                    <h4 class="text-orange-500 mb-0">$100</h4>
                    <p><s>$140</s></p>
                    <p class="text-orange-500">40% Off</p>
                </div>
            </div>
            <div class="grid justify-content-between px-3">
                <p>40% discount is applied for Accessories</p>
                <p-button icon="pi pi-trash" severity="danger" styleClass="p-button-outlined"></p-button>
            </div>
        </div>
    </ng-template>
    
    
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap justify-content-between">
            <div class="mr-0">
                <p-button class="p-3 text-l pi-button">Proceed</p-button>
            </div>
            <div class="text-white surface-900 px-6 py-3 border-round-lg flex" (click)="showSidebar()">
                <h5 class="text-white mb-1 mr-3">Total</h5>
                <div>
                    <p class="mb-0"><s>$455</s></p>
                    <h6 class="text-white my-0">$400/ yearly</h6>
                </div>
            </div>
        </div>
    </ng-template>
</p-sidebar>
