<div class="flex flex-wrap card">
    <div class="col-12 md:col-6 lg:col-4 border-right-1 border-500 px-5">
        <div class="card bg-blue-800 text-0">
            <h3 class="text-0 mb-0">Base Cover</h3>
            <p>According to your budget you can pay one time or one time* with 10% discount.</p>
            <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 25% </b>Cashback</p>
            <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 100.000 </b>Coverage Amount</p>
            <p class="mb-0"><s><b><i class="pi pi-times-circle mr-3"></i> 3 Years </b>Premium</s></p>
            <p><span class="font-bold text-4xl">2,033</span> /monthly premium</p>
        </div>
        <div class="card bg-blue-800 text-0">
            <h3 class="text-0 mb-0">Death Cover</h3>
            <p>According to your budget you can pay one time or one time* with 10% discount.</p>
            <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 25% </b>Cashback</p>
            <p class="mb-0"><b><i class="pi pi-check-circle mr-3"></i> 100.000 </b>Coverage Amount</p>
            <p class="mb-0"><s><b><i class="pi pi-times-circle mr-3"></i> 3 Years </b>Premium</s></p>
            <p><span class="font-bold text-4xl">2,033</span> /monthly premium</p>
        </div>
        <div class="flex flex-wrap justify-content-between">
            <p-button label="Clauses" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
            <p-button label="Exclusions" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
            <p-button label="Warranties" styleClass="mr-3 mb-3 p-button-outlined"></p-button>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-8 px-5">
        <router-outlet></router-outlet>
    </div>
</div>
