<div class="layout-topbar">
    <ng-container  *ngIf="insuranceid">
        <ng-container *ngIf="insuranceid=='100002'">
            <a class="layout-topbar-logo" (click)="onRedirect()">
                <img src="./assets/images/logo-2.png" width="170" style="cursor: pointer !important;"  />
            </a>
        </ng-container>
        <ng-container *ngIf="insuranceid=='100004'">
            <a class="layout-topbar-logo" (click)="onRedirect()">
                <img src="./assets/images/mgen-logo.png" width="170" style="cursor: pointer !important;"  />
            </a>
        </ng-container>
        <ng-container *ngIf="insuranceid=='100027'">
            <a class="layout-topbar-logo" (click)="onRedirect()">
                <img src="./assets/images/sanlam-logo.png" width="170" style="cursor: pointer !important;"  />
            </a>
        </ng-container>
        <ng-container *ngIf="insuranceid=='100028'">
            <a class="layout-topbar-logo" style="background-color: rgb(105, 91, 82);" (click)="onRedirect()">
                <img src="./assets/images/eagle_logo.png" width="170" style="cursor: pointer !important;"  />
            </a>
        </ng-container>
    </ng-container>
    

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <ng-container *ngIf="showUserDetails()">
            <p-button [label]="productname" icon="pi pi-home" class="productBtn" (click)="onProductRedirect()" severity="warning"></p-button>&nbsp;
            <ng-container *ngIf="typeList.length!=0">
                <p-dropdown inputId="make" 
                    class="w-full min300" 
                    styleClass="w-full" 
                    (onChange)="finaliseTypeValue(null,'change')"
                    [options]="typeList" 
                    optionLabel="DisplayName" 
                    optionValue="CodeDesc" 
                    [(ngModel)]="typeValue"  >
                </p-dropdown>&nbsp;&nbsp;
            </ng-container>
            <ng-container *ngIf="branchList.length!=0">
                
                <p-dropdown inputId="make" 
                    class="w-full min300" 
                    styleClass="w-full" 
                    (onChange)="finaliseBranchValue(null,'change')"
                    optionLabel="BranchName" 
                    optionValue="BranchName" 
                    [options]="branchList" 
                    [(ngModel)]="branchName"  >
                </p-dropdown>&nbsp;&nbsp;
            </ng-container>
        </ng-container>
        
        <!-- <p-splitButton [label]="typeValue" [model]="typeList"  styleClass="mr-4 my-auto"></p-splitButton> -->
        <!-- <p-splitButton [label]="branchName" [model]="branchList" (onClick)="finaliseBranchValue(null,null)" styleClass="mr-4 my-auto"></p-splitButton> -->
        <div class="flex justify-content-center align-items-center username-section">
            <p-overlayPanel #op>
                <p-button *ngFor="let userOption of userOptions" [icon]="userOption.icon" [label]="userOption.label" styleClass="p-button-text" (click)="userOption.command()" [style]="{'width':'15rem'}"></p-button>
            </p-overlayPanel>
            <p-avatar image="assets/demo/images/login/userIcon.png" styleClass="mr-2" size="medium" shape="circle"></p-avatar>
            <p-button (click)="op.toggle($event)" [label]="loginId"></p-button>
        </div>
    </div>
</div>