<div class="grid">
    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
        <label for="Company">Company *</label>
        <p-dropdown  class="w-full" styleClass="w-full">
        </p-dropdown> 
    </div>
</div> 
<ng-container >
    <p-table  [value]="IssuerDataList" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-end">
                <p-button label="Add New Issuer" size="small" (click)="showDialogBrokerDetails('AddIssuer')"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Issuer Name</th>
                <th>Login Id </th>
                <th>MailID </th>
                <th>Created Date</th>
                <th>Mobile No</th>
                <th>Status </th>
                <th>Action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>{{data.data1}}</td>
            <td>{{data.data2}}</td>
            <td>{{data.data3}}</td>
            <td>{{data.data4}}</td>
            <td>{{data.data5}}</td>
            <td>{{data.data6}}</td>
            <td>{{data.data7}}</td>
            <td>
                <span class="p-buttonset">
                    <button pButton pRipple icon="pi pi-pencil" title="Edit" class="p-button-outlined" (click)="EditDetailsView(data.data1)" ></button>
                    <button pButton pRipple icon="pi pi-cog" title="Configure"  class="p-button-outlined" (click)="showDialogBrokerDetails('Product')"></button>
                    <button pButton pRipple icon="pi pi-eye" title="View"   class="p-button-outlined" (click)="brokerDetailsView()"></button>
                </span>
            </td>
          </tr>
        
        </ng-template>
    </p-table>
</ng-container>

<p-dialog header="Issuer Details" [modal]="true" [(visible)]="AddIssuerPopup" [style]="{ width: '75rem' }">
    <span class="p-text-dark block mb-5"><b>Personal Information</b></span>
    <div class="grid">
        <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="CustomerCode" class="font-semibold w-6rem">Customer Code</label>
            <div class="p-inputgroup">
                <input type="text" id="CustomerCode" pInputText placeholder="Customer Code" [(ngModel)]="customerCode" />
                <button type="button" pButton icon="pi pi-search" class="p-button-outlined" ></button>
            </div>
        </div> -->
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Name" class="font-semibold w-6rem">Insurance Employee Name</label>
            <input pInputText id="Name" class="w-full"  [(ngModel)]="userName" />
        </div>
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Insurance" class="font-semibold w-6rem">Insurance Company *</label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="insuranceId"  
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Email" class="font-semibold w-6rem">Email*</label>
            <input pInputText id="Email" class="w-full" [(ngModel)]="userMail"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Channel" class="font-semibold w-6rem">Products *</label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="channelId" 
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Channel" class="font-semibold w-6rem">Branches *</label>
            <p-dropdown  class="w-full" styleClass="w-full" 
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address1" class="font-semibold w-6rem">Address1</label>
            <input pInputText id="Address1" [(ngModel)]="address1" class="w-full" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Address2" class="font-semibold w-6rem">Address2</label>
            <input pInputText id="Address2"  [(ngModel)]="address2" class="w-full" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Country" class="font-semibold w-6rem">Country *</label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="countryCode" [options]="countryList" (onChange)="onCountryChange('change')"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Region" class="font-semibold w-6rem">Region *</label>
            <p-dropdown  class="w-full" styleClass="w-full" [options]="stateList" (onChange)="onStateChange('change')" [(ngModel)]="stateCode"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="District" class="font-semibold w-6rem">District *</label>
            <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="cityCode" [options]="cityList"
                optionLabel="CodeDesc" optionValue="Code" >
            </p-dropdown> 
        </div>
       
        
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Mobile" class="font-semibold w-6rem">Mobile No *</label>
            <div class="flex flex-warp">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <p-dropdown  class="w-full" styleClass="w-full" [(ngModel)]="mobileCode" [options]="mobileCodeList"
                        optionLabel="CodeDesc" optionValue="Code" >
                    </p-dropdown> 
                </div>
                <div class="col-12 lg:col-8 md:col-8 lg:col-8" >
                    <input pInputText id="Mobile" class="w-full" [(ngModel)]="userMobile" />
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="WhatsApp" class="font-semibold w-6rem">WhatsApp No *</label>
            <div class="flex flex-warp">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <p-dropdown  class="w-full" styleClass="w-full"  [(ngModel)]="whatsAppCode" [options]="mobileCodeList" 
                        optionLabel="CodeDesc" optionValue="Code" >
                    </p-dropdown> 
                </div>
                <div class="col-12 lg:col-8 md:col-8 lg:col-8">
                    <input pInputText id="WhatsApp" class="w-full" [(ngModel)]="whatsAppNo"/>
                </div>
            </div>
        </div>
    </div>
    <p-divider class="mt-3 mb-3" />
    <span class="p-text-dark block mb-5"><b>Login  Information</b></span>
    <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="LogInId" class="font-semibold w-6rem">LogIn Id *</label>
            <input pInputText id="LogInId" class="w-full" [disabled]="editSection" [(ngModel)]="brokerLoginId"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="editSection">
        <label class="input-form-label">Do You Like to Change Password?<span class="text-danger">*</span></label>
            <div class="input-form-radio-box">
                <div class="radio-toolbar radio-toolbar1">
                    <input id="changePasswrd_Yes" type="radio" name="changePassYN" [(ngModel)]="changePasswordYN" value="Y">
                    <label for="changePasswrd_Yes" >Yes</label>
                    <input id="changePasswrd_No" type="radio" name="changePassYN" [(ngModel)]="changePasswordYN" value="N">
                    <label for="changePasswrd_No">No</label>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="changePasswordYN=='Y' || !editSection">
            <label for="Password1" class="font-semibold w-6rem" *ngIf="!editSection">Password *</label>
            <label *ngIf="changePasswordYN=='Y'">New Password<span class="text-danger">*</span></label>
            <input pInputText id="Password1" class="w-full" [(ngModel)]="password" *ngIf="changePasswordYN=='Y' || !editSection" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="changePasswordYN=='Y' || !editSection">
            <label for="Password2" class="font-semibold w-6rem" *ngIf="!editSection">Re-Enter Password *</label>
            <label *ngIf="changePasswordYN=='Y'">Re-Enter New Password<span class="text-danger">*</span></label>
            <input pInputText id="Password2" class="w-full" [(ngModel)]="repassword" *ngIf="changePasswordYN=='Y' || !editSection" />
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="EffectiveDate" class="font-semibold w-6rem">Effective Date *</label>
            <p-calendar  
            [showIcon]="true" 
            inputId="icondisplay" 
            styleClass="w-full"
            [(ngModel)]="effectiveDate"
            class="w-full"/>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4">
            <label for="Remarks" class="font-semibold w-6rem">Remarks *</label>
            <textarea pInputTextarea id="Remarks" [(ngModel)]="remarks" class="w-full" ></textarea>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:col-4 radioList">
            <label for="ExcemptedYN" class="font-semibold w-6rem">Status *</label>
            <div class="flex flex-warp">
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Active" value="Y" [(ngModel)]="statusValue" inputId="ingredient2"></p-radioButton>
                <span for="Active" class="ml-1">Active</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="Pending" value="P" [(ngModel)]="statusValue" inputId="ingredient3"></p-radioButton>
                <span for="Pending" class="ml-1">Pending</span>
            </div>
            <div class="flex align-items-center mr-1">
                <p-radioButton name="DeActive" value="N" [(ngModel)]="statusValue" inputId="ingredient3"></p-radioButton>
                <span for="DeActive" class="ml-1">DeActive</span>
            </div>
        </div>
        </div>
    </div>
    <div class="flex justify-content-center gap-2">
        <p-button label="Cancel" styleClass="p-button-outlined"  />
        <p-button label="Submit" (click)="onProceed()"/>
    </div>
</p-dialog> 
<p-dialog  header="Issuer Details" [modal]="true"  [(visible)]="visibleIssuerDetails"  [style]="{ width: '90rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <div class="grid ">
            <div class="col-12 lg:col-5 md:col-5 lg:col-5">
                <p-card header="Personal Details">
                    <hr>
                    <div class="flex flex-warp justify-content-end">
                        <div class="col-8 lg:col-8 md:col-8 lg:col-8" *ngIf="userName!=null && userName!=''">
                            <p class="font-semibold broker_name"> Name </p>
                            <!-- <p>{{userName}}</p> -->
                        </div>
                        <div class="col-3 lg:col-3 md:col-3 lg:col-3">
                            <p-button label="Edit"  class="p-button-outlined" styleClass="p-button-outlined" />
                            <!-- <i class="pi pi-check-circle" style="color: green"></i> -->
                        </div>
                        <div class="col-1 lg:col-1 md:col-1 lg:col-1">
                            <!-- <p-button label="Edit"  class="p-button-outlined" styleClass="p-button-outlined" /> -->
                            
                        </div>
                    </div>
                        <div class="grid ">
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="customerCode!=null && customerCode!=''">
                                <p  class="font-semibold broker_name">Menu Type </p>
                                <!-- <p>{{customerCode}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" >
                                <p  class="font-semibold broker_name">Address </p>
                                <!-- <p *ngIf="address1!=null && address1!='' || address2!=null && address2!=''">{{address1}},{{address2}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4 flex-warp" *ngIf="userMail!=null && userMail!=''">
                                <p  class="font-semibold broker_name">Email </p>
                                <!-- <p>{{userMail}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" >
                                <p  class="font-semibold broker_name">Mobile No </p>
                                <!-- <p>{{userMobile}}</p> -->
                            </div>
                            
                        </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-5 md:col-5 lg:col-5">
                <p-card header="Branch">
                    <hr>
                        <div class="grid ">
                            <div class="col-8 lg:col-3 md:col-3 lg:col-3" *ngIf="channelId!=null && channelId!=''">
                                <p  class="font-semibold broker_name">Branches </p>
                                <!-- <p>{{channelId}}</p> -->
                                
                            </div>
                            <div class="col-12 lg:col-9 md:col-9 lg:col-9" *ngIf="companyName!=null && companyName!=''">
                                <p  class="font-semibold broker_name">Insurance Company </p>
                                <!-- <p>{{companyName}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="countryCode!=null && countryCode!=''">
                                <p  class="font-semibold broker_name">Country </p>
                                <!-- <p>{{countryCode}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="stateName!=null && stateName!=''">
                                <p  class="font-semibold broker_name">Region </p>
                                <!-- <p>{{stateName}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="cityName!=null && cityName!=''">
                                <p  class="font-semibold broker_name">District </p>
                                <!-- <p>{{cityName}}</p> -->
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 lg:col-4" *ngIf="creditLimit!=null && creditLimit!=''">
                                <p  class="font-semibold broker_name">Credit Limit</p>
                                <!-- <p>{{creditLimit}}</p> -->
                            </div>
                            <!-- <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                                <p  class="font-semibold broker_name">Contact Person</p>
                                <p></p>
                            </div> -->
                        </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-2 md:col-2 lg:col-2">
                <p-card header="Account Status">
                    <hr>
                    <div class="col-12">
                    <p *ngIf="Status=='Y'">Active &nbsp; <p-badge [value]="" severity="success" /></p>
                    <p *ngIf="Status=='N'">DeActive &nbsp; <p-badge [value]="" severity="danger" /></p>
                   </div>
                   <div class="col-12">
                       <p  class="font-semibold broker_name">Login Id</p>
                       <!-- <p>{{brokerLoginId}}</p> -->
                    </div>
                    <div class="col-12">
                    <p-button  label="Change Password"  class="p-button-outlined" styleClass="p-button-outlined" (click)="passwordField()" />
                    </div>
                    <!--  -->
                        <!-- <p  class="font-semibold broker_name">Last Login Date</p>
                        <p>12/06/2024</p> -->
                    <!--  -->
                </p-card>
            </div>
            <!-- *ngIf="ChangePass" -->
            <div class="col-12 lg:col-12 md:col-12 lg:col-12" *ngIf="ChangePass" >
                <div class="grid">
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <label for="username">New Password*</label><br>
                    <input pInputText type="Password"   class="w-full" 
                    styleClass="w-full"  
                    placeholder="Enter New Password"/>
                </div>
                <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                    <label for="username">Re-Enter New Password*</label><br>
                    <input pInputText type="Password"   class="w-full" 
                    styleClass="w-full" 
                    placeholder="Enter Re-Enter New Password"/>
                </div>
                <div class="col-12 lg:col-4 md:col-4 lg:col-4 mt-4">
                    <p-button label="Submit"  (click)="passChanged()" />
                </div>
            </div>
            </div>
            <div class="col-12 lg:col-12 md:col-12 lg:col-12">
                <p-card header="Products">
                    <hr>
                    <div class="grid" >
                   <div class="col-12 lg:col-2 md:col-2 lg:col-2" >
                    <!-- {{product.ProductName}} *ngFor="let product of brokerProductList"-->
                       <p  class="font-semibold broker_name"><i class="pi pi-map" style="font-size: 1rem"></i> &nbsp;</p>
                       <hr>
                       <!-- <p>Quote &nbsp; <p-badge [value]="product.ProductId" /></p>
                       <p>Policy &nbsp; <p-badge [value]="product.ProductIconId" /></p>
                       <p>Endorsement &nbsp; <p-badge [value]="product.PackageYn" /></p> -->
                       <p>Quote &nbsp; </p>
                       <p>Policy &nbsp;</p>
                       <p>Endorsement &nbsp;</p>
                    </div>
                    </div>
                </p-card>
            </div>
            <div class="col-12 lg:col-6 md:col-6 lg:col-6">
                <p-card header="Period">
                    <hr>
                <div class="grid">
                   <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                       <p class="font-semibold broker_name">Last Login Date</p>
                       <p>12/06/2024</p>
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Last Policy Date</p>
                        <p>12/06/2024</p>
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Last Quote Date</p>
                        <p>12/06/2024</p>
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                         <p class="font-semibold broker_name">Collected Premium</p>
                         <p>100,00000</p>
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Policy Commission</p>
                        <p>100,00</p>
                    </div>
                </div>
                    <!-- <div class="col-12">
                    <p-button label="Change Password"  class="p-button-outlined" styleClass="p-button-outlined" (click)="passwordField()" />
                    </div> -->
                    <!--  -->
                        <!-- <p  class="font-semibold broker_name">Last Login Date</p>
                        <p>12/06/2024</p> -->
                    <!--  -->
                </p-card>
            </div>
            <!-- <div class="col-12 lg:col-6 md:col-6 lg:col-6">
                <p-card header="Users">
                    <hr>
                <div class="grid">
                   <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                       <p class="font-semibold broker_name">Users</p>
                       <!
                    </div>
                    <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                       
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                       - 024</p
                     </div>
                     <div class="col-12 lg:col-4 md:col-4 lg:col-4">
                        <p class="font-semibold broker_name">Users</p>
                        <!- <p>100,000</p> >
                     </div>
                    </div>
                </p-card>
            </div> -->
        </div>
       
</p-dialog>
<p-dialog  header="Products " [modal]="true"  [(visible)]="ProductsPopup"  [style]="{ width: '75rem' }" >
    <p-table  [tableStyle]="{'min-width': '60rem'}" >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <!-- Products  -->
                <!-- <p-button icon="pi pi-pencil"   (click)="showDialogBrokerDetails('editBranchDetail')" /> -->
                <!-- <p-button icon="pi pi-plus"  label="Add Branch" (click)="showDialogBrokerDetails('branchDetail')" /> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Select</th>
                <th>Product</th>
                <th>Field Name</th>
                <th>Min SumInsured</th>
                <th>Max SumInsured</th>
                <th>Endorsements</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" >
            <tr>
                <!-- <td>{{branch.BranchName}}</td>
                <td>{{branch.EffectiveDateStart}}</td>
                <td>{{branch.Mobile}}</td>
                <td>{{branch.Status}}</td> -->
                <td><p-button icon="pi pi-pencil"  styleClass="p-button-outlined" /></td>
            </tr>
        </ng-template>
    </p-table> 
    <div class="flex justify-content-center gap-2 mt-2">
        <p-button label="Cancel" styleClass="p-button-outlined"  />
        <p-button label="Submit" />
    </div>
</p-dialog>
