<div class="container"> 
    <div *ngIf="productId=='59'">
        <div class="mt-4">
            <div class="grid mb-3" *ngIf="Buildings=='Y'">
                <div class="lg:col-1">

                </div>
                <div class="col-12 lg:col-10 xl:col-10">
                    
                <div class="memberDetailCard">
                    <div class="mb-3"> <b>Building Details</b></div>
                  <div class="flex md:flex-row flex-col items-center md:space-x-3">
                 
                    <ng-container *ngFor="let step of fields; let index = index; let last = last">
                                <div>    
                                   
                    <div style="display: flex !important;justify-content: space-between !important;">
                        
                        <div class="mt-4 mr-3 ml-2">
                            <img src="../../../../../../assets/images/building.png" width="40" height="35">
                            <!-- <b>
                            {{step.props.label }}</b> -->
                        </div> 
                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                        </form>
                        </div>     
                    </div>
                    
                    </div></ng-container>
                
            </div>
            </div> 
        </div>
        </div>
    </div> 

    <div class="grid mt-1 mb-3">
        <div class="lg:col-1">

        </div>
        <div class="col-12 lg:col-5 xl:col-5">
        <div class="memberDetailCard" style="padding:10px !important;">
    <div class="mb-2"> <b>Content Risk</b></div>
                    <div class="flex md:flex-row flex-col items-center md:space-x-3">
                   
                      <ng-container *ngFor="let stes of fields1; let index = index; let last = last">
                                  <div>    
                      <div style="display: flex !important;justify-content: space-between !important;">
                          <div class="mt-4 mr-3 ml-3">
                            <img src="../../../../../../assets/images/content.png" width="40" height="35">
                            <!-- <b>{{step.props.label }}</b> -->
                        </div> 
                          <div>
                              <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                  <formly-form [form]="form" [fields]="stes.fieldGroup" [model]="productItem"></formly-form>
                          </form>
                          </div>     
                      </div>
                      
                      </div></ng-container>
                  
              </div>
              </div> 
           
        </div>
    
        <div class="col-12 lg:col-5 xl:col-5">
                <div class="memberDetailCard" style="padding:10px !important;">
                    <div class="mb-2"> <b>All Risk</b></div>
                    <div class="flex md:flex-row flex-col items-center md:space-x-3">
                   
                      <ng-container *ngFor="let steps of fields2; let index = index; let last = last">
                                  <div>    
                      <div style="display: flex !important;justify-content: space-between !important;">
                          <div class="mt-4 ml-3 mr-3">
                            <img src="../../../../../../assets/images/All-risk.png" width="40" height="35">
                            <!-- <b>{{step.props.label }}</b> -->
                        </div> 
                          <div>
                              <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                  <formly-form [form]="form" [fields]="steps.fieldGroup" [model]="productItem"></formly-form>
                          </form>
                          </div>     
                      </div>
                      
                      </div></ng-container>
                  
              </div>
              </div> 
        </div>
    </div>
   

    <div class="grid mt-2 mb-3">
        <div class="lg:col-1">

        </div>
        <div class="col-12 lg:col-5 xl:col-5">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Personal Liability</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields3; let index = index; let last = last">
                          <div>    
              <div style="display: flex !important;justify-content: space-between !important;">
                  <div class="mt-4 mr-3">
                    <img src="../../../../../../assets/images/personalliability.png" width="50" height="40">
                    <!-- <b>{{step.props.label }}</b> -->
                </div> 
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
      <div class="col-12 lg:col-5 xl:col-5">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Personal Accident</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepee of fields4; let index = index; let last = last">
                          <div>    
              <div style="display: flex !important;justify-content: space-between !important;">
                  <div class="mt-4 mr-3">
                    <img src="../../../../../../assets/images/personalAccident1.png" width="50" height="40">
                    <!-- <b>{{step.props.label }}</b> -->
                </div> 
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepee.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
        </div>
    </div>
    <div class="text-center mt-2">
        <p-button  styleClass="p-button-outlined" label="Back"
        size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
        <p-button 
        label="Proceed" size="small" (click)="onfinalsave()"></p-button>
        <!-- <button pButton pRipple label="Submit" class="p-button-success" (click)="onfinalsave()"></button> -->
    </div>
</div>

<ng-container *ngIf="productId=='57'">
    <div class="mt-4">
        <div class="grid mb-3">
            <div class="col-12 lg:col-4 xl:col-4"></div>
            <div class="col-12 lg:col-4 xl:col-4">
                
            <div class="memberDetailCard">
                <div class="mb-3"> <b>Group Personal Accident Details</b></div>
              <div ><!--class="flex md:flex-row flex-col items-center md:space-x-3"-->
             
                <ng-container *ngFor="let step of fieldsGroupPa; let index = index; let last = last">
                            <div>    
                               
                <div class="row"><!--style="display: flex !important;justify-content: space-between !important;"-->
                    <div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                            <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                    </form>
                    </div>     
                </div>
                
                </div></ng-container>
            
        </div>
        </div> 
    </div>
    </div>
</div> 
<div class="text-center mt-2">
    <p-button  styleClass="p-button-outlined" label="Back"
    size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
    <p-button 
    label="Proceed" size="small" (click)="onsaveGroupPADetails()"></p-button>
</div>
</ng-container>
<ng-container *ngIf="productId == '60'">
    <div class="grid mt-2 mb-3">
        <div class="col-1 lg:col-1 xl:col-1"></div>
        <div class="col-10 lg:col-10 xl:col-10">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Professional Indemnity</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields8; let index = index; let last = last">
                          <div>    
              <div class="row">
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
    </div>


    <div class="grid mt-2 mb-3">
        <div class="col-1 lg:col-1 xl:col-1"></div>
        <div class="col-10 lg:col-10 xl:col-10">
        <div class="memberDetailCard mt-2" style="padding:10px !important;">
            <!-- <div class="mb-2"> <b>Professional Indemnity</b></div> -->
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields9; let index = index; let last = last">
                          <div>    
              <div class="row">
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
    </div>
    <div class="text-center mt-2">
        <p-button  styleClass="p-button-outlined" label="Back"
        size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
        <p-button 
        label="Proceed" size="small" (click)="onprofessionalsave()"></p-button>
    </div>
</ng-container>

<ng-container *ngIf="productId=='56'">
   

    <div>
        <div class="grid mt-1 mb-3">
            <div class="col-1 lg:col-2 xl:col-1">

            </div>
            <div class="col-10 lg:col-10 xl:col-10">
          <div class="memberDetailCard" style="padding:10px !important;">
        <div class="mb-2 d-flex justify-content-between"> 
            <div><b>Health Insurance</b></div>
            <!-- <div>
                <button class="btn btn-warning btn-sm" (click)="AddnewCovers()">
                    <i class="fas fa-plus"></i>&nbsp;Add New
                </button>
            </div> -->
           
        </div>
        <div class="grid pl-5 pr-5 pb-0">
            <div class="lg:col-2 xl:col-2 md:col-2 col-12 text-center md:col-ffset-2 lg:col-offset-2">
                <label class="input-form-label">Inpatient SumInsured</label>&nbsp;<ng-container *ngIf="categoryDesc">({{categoryDesc}})</ng-container><span class="text-danger">*</span>
            </div>
            <div class="lg:col-4 xl:col-4 md:col-4 col-12 text-center">
                <div class="input-control-container">
                      
                      <ng-select class="custom" [items]="sectionDropdownList" [(ngModel)]="ProductCode" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                      </ng-select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="showsection">
           
            <ng-container *ngFor="let step of fields[0].fieldGroup; let index = index; let last = last">

                <ng-container *ngIf="step.props.label=='Employers Liability' || step.props.label=='Health Insurance' || (step.props.label=='Contents Risk' && insuranceId=='100004' && productId!='24') || step.props.label=='Building Risk' || step.props.label=='Money' || step.props.label=='Business Interruption' || (step.props.label=='Burglary' && insuranceId=='100004') || step.props.label=='Fidelity' || step.props.label=='Public Liability' || step.props.label=='Machinery BreakDown' || step.props.label=='Fire & Allied Perils' || (step.props.label=='Burglary' && insuranceId=='100002')  || step.props.label=='Goods in Transit'">

                    <div class="col-md-12 col-lg-12 col-xl-12"><!--style="margin-top:30px !important;"-->
                        <div style="width:100% !important;" class="col-md-4 col-lg-4 col-xl-4 customer-grid maan-grid-item-titles d-flex justify-content-between" (click)="selectedIndex=index">
                           
                        </div>
                        <div class="card-body" *ngIf="step.props.label!='Employers Liability' && step.props.label!='Fidelity'">
                            <ng-conttainer>
                                <form [formGroup]="form" (change)="onChange($event)">
                                    <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                                </form>
                            </ng-conttainer>
                        </div>
                        <div class="grid" *ngIf="step.props.label=='Employers Liability' && step.props.label!='Fidelity'">
                            <div class="col-md-2 col-lg-2 col-xl-2 offset-10">
                                <button class="btn btn-warning btn-sm" (click)="createCover(null,myModal2)">
                                    <i class="fas fa-plus"></i>&nbsp;Add New
                                </button>
                            </div>
                            </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container> 
        <div class="text-center mt-2">
            <p-button  styleClass="p-button-outlined" label="Back"
            size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
            <p-button 
            label="Proceed" size="small" (click)="onSaveHealthInsurance()"></p-button>
        </div>
                          
       
                  </div> 
            </div>
        
        </div>
        
    </div>

</ng-container>

<ng-container *ngIf="productId=='24'">
<div class="grid mt-1 mb-3">
    <div class="lg:col-1">

    </div>
    <div class="col-12 lg:col-5 xl:col-5">
    <div class="memberDetailCard" style="padding:10px !important;">
<div class="mb-2"> <b>Content Risk</b></div>
                <div class="flex md:flex-row flex-col items-center md:space-x-3">
               
                  <ng-container *ngFor="let stes of fields1; let index = index; let last = last">
                              <div>    
                  <div style="display: flex !important;justify-content: space-between !important;">
                      <div class="mt-4 mr-3 ml-3">
                        <img src="../../../../../../assets/images/content.png" width="40" height="35">
                        <!-- <b>{{step.props.label }}</b> -->
                    </div> 
                      <div>
                          <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                              <formly-form [form]="form" [fields]="stes.fieldGroup" [model]="productItem"></formly-form>
                      </form>
                      </div>     
                  </div>
                  
                  </div></ng-container>
              
          </div>
          </div> 
       
    </div>

    <div class="col-12 lg:col-5 xl:col-5">
            <div class="memberDetailCard" style="padding:10px !important;">
                <div class="mb-2"> <b>All Risk</b></div>
                <div class="flex md:flex-row flex-col items-center md:space-x-3">
               
                  <ng-container *ngFor="let steps of fields2; let index = index; let last = last">
                              <div>    
                  <div style="display: flex !important;justify-content: space-between !important;">
                      <div class="mt-4 ml-3 mr-3">
                        <img src="../../../../../../assets/images/All-risk.png" width="40" height="35">
                        <!-- <b>{{step.props.label }}</b> -->
                    </div> 
                      <div>
                          <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                              <formly-form [form]="form" [fields]="steps.fieldGroup" [model]="productItem"></formly-form>
                      </form>
                      </div>     
                  </div>
                  
                  </div></ng-container>
              
          </div>
          </div> 
    </div>
</div>
<div class="text-center mt-2">
    <p-button  styleClass="p-button-outlined" label="Back"
    size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
    <p-button 
    label="Proceed" size="small" (click)="onfinalsave()"></p-button>
</div>
</ng-container>
    </div>