<div class="container"> 
    <div *ngIf="productId=='59'">
        <div class="mt-4">
            <div class="grid mb-3" *ngIf="(coversreuired=='B' || coversreuired=='BC') && Building1">
                <div class="lg:col-1">

                </div>
                <div class="col-12 lg:col-5 xl:col-5">
                    
                <div class="memberDetailCard">
                    <div class="grid justify-content-end">
                        <div class="mb-2 col-12 lg:col-10 xl:col-10"> 
                            <b>Building Details</b>
                        </div>
                        <div class="mb-2 col-12 lg:col-2 xl:col-2 "> 
                            <p-button icon="pi pi-credit-card" styleClass="p-button-outlined" (click)="showDialogBuilding()" />
                        </div>
                    </div>
                    <!-- <div class="mb-3"> <b>Building Details</b></div> -->
                  <div class="flex md:flex-row flex-col items-center md:space-x-3">
                 
                    <ng-container *ngFor="let step of fields; let index = index; let last = last">
                                <div>    
                                   
                    <div style="display: flex !important;justify-content: space-between !important;">
                        
                        <div class="mt-4 mr-3 ml-2">
                            <img src="./assets/images/building.png" width="40" height="35">
                            <!-- <b>
                            {{step.props.label }}</b> -->
                        </div> 
                        <div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                            </form>
                        </div>     
                    </div>
                    
                    </div></ng-container>
                
            </div>
            </div> 
        </div>
        </div>
    </div> 
    <p-dialog header="Building Sum Insured" [modal]="true" [(visible)]="visibleBuilding" [style]="{ width: '85rem','z-index': '1000 !important'  }">
        <ng-container  class="mt-5">
            <div class="grid justify-content-end">
                <!-- <div class="col-12 md:col-6 lg:col-6"> -->
                    <!--  -->
                    <!-- <p-button label="Add" (click)="Addnew(TableRow)" /> -->
                <!-- </div> -->
                <div class="col-12 md:col-8 lg:col-8"></div>
                <div class="col-12 md:col-2 lg:col-2" *ngIf="fields">Total : {{getTotalBuilding() | commaseparator}}</div>
                <div class="col-12 md:col-2 lg:col-2"><p-button label="Add New" icon="pi pi-plus" (click)="addRowBuilding()" /></div>
            </div>
        </ng-container>
        <ng-container  class="mt-5">
            <p-table [value]="TableRowBuilding" dataKey="id" editMode="row" [rows]="5" [paginator]="true" [tableStyle]="{'min-width': '40rem'}" >
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th [pSortableColumn]="column" *ngFor="let column of columnHeaderBuilding">
                            {{column}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Building let-ri="rowIndex">
                    <tr>
                        <td>
                            
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <p-dropdown class="w-full"  placeholder="Select Usage"  [options]="BuildingUsageList" 
                                        appendTo="body" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="Building.BuildingUsageId" />
                                        <div class="input-form-error" *ngIf="Building.BuildingUsageIdError">
                                            <div class="error-text text-danger">
                                                Select Valid Usage
                                            </div>
                                        </div>
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">{{getBuildingUsageId(Building.BuildingUsageId)}}</ng-container>
                        </td>
                        <!-- <td>
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <input class="w-full p-button-outlined"   placeholder="Enter Build Year "  pInputText type="text" 
                                    [(ngModel)]="Building.BuildingBuildYear" />
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                {{Building.BuildingBuildYear}}
                            </ng-container>   
                        </td> -->
                        <td>
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Wall Type"  [options]="wallMaterialList" 
                                        appendTo="body" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="Building.WallType" />
                                <div class="input-form-error" *ngIf="Building.WallTypeError">
                                    <div class="error-text text-danger">
                                        Select WallType
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                {{getwallTypeDescription(Building.WallType)}}
                            </ng-container>         
                        </td>
                        <td>
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Roof Type" 
                                 [options]="roofMaterialList" 
                                        appendTo="body" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="Building.RoofType" />
                                        <div class="input-form-error" *ngIf="Building.RoofTypeError">
                                            <div class="error-text text-danger">
                                                Select RoofType
                                            </div>
                                        </div>
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                {{getRoofTypeDescription(Building.RoofType)}}
                            </ng-container>         
                        </td>
                        <td>
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <p-inputNumber  type="number" [(ngModel)]="Building.BuildingSumInsured" inputId="integeronly"/>
                                <div class="input-form-error" *ngIf="Building.SumInsuredError">
                                    <div class="error-text text-danger">
                                        Enter Valid Amount
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                {{Building.BuildingSumInsured | commaseparator}}
                            </ng-container>        
                        </td>
                        <td>
                            <ng-container *ngIf="currentBuildingRowIndex==ri">
                                <input pInputText  type="text"  [(ngModel)]="Building.LocationName" />
                                <div class="input-form-error" *ngIf="Building.LocationError">
                                    <div class="error-text text-danger">
                                       Enter Valid LocationName
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                {{Building.LocationName }}
                            </ng-container>        
                        </td>
                        <td>
                            <ng-container *ngIf="currentBuildingRowIndex!=ri">
                                <div class="flex align-items-center justify-content-center gap-2">
                                    <button  pButton type="button"  icon="pi pi-pencil"   
                                        (click)="currentBuildingRowIndex=ri" styleClass="p-button-outlined">
                                    </button>
                                </div>
                            </ng-container>
                        </td>
                        
                        <td>
                            <ng-container  >
                                <!-- *ngIf="currentBuildingRowIndex==ri" -->
                                <div class="flex align-items-center justify-content-center gap-2" >
                                    <button  pButton type="button"  icon="pi pi-trash"  (click)="deleteProductBuilding(ri)" 
                                        styleClass="p-button-outlined" >
                                    </button>
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                   
                </ng-template>
               
            </p-table>
            <!-- <div class="flex justify-content-end gap-2 mt-5">
                <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" />
                <p-button label="Save" (click)="saveProduct()" />
            </div> -->
            <div class="flex flex-wrap justify-content-center gap-2 mt-5">
                <!-- <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" /> -->
                <div >
                <p-button label="Save" (click)="onSaveBuildingList()" />
            </div>
            </div>
    </ng-container> 
       
    </p-dialog>
    <div class="grid mt-1 mb-3">
        <div class="lg:col-1">

        </div>
        <div class="col-12 lg:col-5 xl:col-5" *ngIf="Content">
              <div class="memberDetailCard" style="padding:10px !important;">
            <div class="grid justify-content-end">
                <div class="mb-2 col-12 lg:col-10 xl:col-10"> 
                    <b>Content Risk</b>
                </div>
                <div class="mb-2 col-12 lg:col-2 xl:col-2 "> 
                    <p-button icon="pi pi-credit-card" styleClass="p-button-outlined" (click)="showDialog()" />
                </div>
            </div>
                    <div class="flex md:flex-row flex-col items-center md:space-x-3">
                   
                      <ng-container *ngFor="let stes of fields1; let index = index; let last = last">
                                  <div>    
                      <div style="display: flex !important;justify-content: space-between !important;">
                          <div class="mt-4 mr-3 ml-3">
                            <img src="./assets/images/content.png" width="40" height="35">
                            <!-- <b>{{step.props.label }}</b> -->
                        </div> 
                          <div>
                              <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                  <formly-form [form]="form" [fields]="stes.fieldGroup" [model]="productItem" ></formly-form>
                          </form>
                          </div>     
                      </div>
                      
                      </div></ng-container>
                  
              </div>
              </div> 
              <p-dialog header="Content Sum Insured" [modal]="true" [(visible)]="visible" [style]="{ width: '80rem','z-index': '1000 !important'  }">
                <ng-container  class="mt-5">
                    <div class="grid justify-content-end">
                        <!-- <div class="col-12 md:col-6 lg:col-6"> -->
                            <!--  -->
                            <!-- <p-button label="Add" (click)="Addnew(TableRow)" /> -->
                        <!-- </div> -->
                        <div *ngIf="fields1.length!=0">Total : {{getTotal() | commaseparator}}</div>
                        <div *ngIf="contentSection"><p-button label="View/Edit Building Details" icon="pi pi-pencil" (click)="addRow()" /></div>
                        <div><p-button label="Add New" icon="pi pi-plus" (click)="addRow()" /></div>
                    </div>
                </ng-container>
               
                <!-- <p-tabView>
                <ng-container *ngFor="let item of TableRowBuilding">
                <p-tabPanel [header]="item.LocationName"> -->
                <ng-container  class="mt-5">
                    <p-table [value]="TableRow" dataKey="id" editMode="row" [rows]="5" [paginator]="true" [tableStyle]="{'min-width': '50rem' }" >
                        <ng-template pTemplate="header">
                            <tr>
                                
                                <th [pSortableColumn]="column" *ngFor="let column of columnHeader">
                                    {{column}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-ri="rowIndex">
                            <tr>
                                <td>
                                    
                                    <ng-container *ngIf="currentContentRowIndex==ri">{{product.RiskId}} {{product.LocationName}}
                                        <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Location"
                                            [options]="TableRowBuilding" (onChange)="onChangeContentLocation(product)"
                                                appendTo="body" optionLabel="LocationName" optionValue="RiskId"  [(ngModel)]="product.RiskId" />
                                         <div class="input-form-error" *ngIf="LocationNameError">
                                            <div class="error-text text-danger">
                                               Select Location
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                       {{product.LocationName}}
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="currentContentRowIndex==ri">
                                        <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Content Type"
                                            [options]="dropList" 
                                                appendTo="body" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="product.ItemId" />
                                        <div class="input-form-error" *ngIf="product.ContentTypeError">
                                            <div class="error-text text-danger">
                                               Select Content Type
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                        {{ getContentTypeDescription(product.ItemId) }}
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="currentContentRowIndex==ri">
                                        <input class="w-full p-button-outlined" placeholder="Enter Serial No" styleClass="w-full"  pInputText type="text" 
                                            [(ngModel)]="product.SerialNoDesc" />
                                            <div class="input-form-error" *ngIf="product.SerialNoDescError">
                                                <div class="error-text text-danger">
                                                   Enter Valid Serial No
                                                </div>
                                            </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                        {{product.SerialNoDesc}}
                                    </ng-container>   
                                </td>
                                <td>
                                    <ng-container *ngIf="currentContentRowIndex==ri">
                                        <input  pInputText type="text" placeholder="Enter Description" [(ngModel)]="product.ContentRiskDesc"  required />
                                        <div class="input-form-error" *ngIf="product.ContentRiskDescError">
                                            <div class="error-text text-danger">
                                               Enter Valid Description
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                        {{product.ContentRiskDesc}}
                                    </ng-container>         
                                </td>
                                <td>
                                    <ng-container *ngIf="currentContentRowIndex==ri">
                                        <p-inputNumber   type="number"  [(ngModel)]="product.SumInsured" inputId="integeronly"/>
                                        <div class="input-form-error" *ngIf="product.SumInsuredError">
                                            <div class="error-text text-danger">
                                               Enter Valid SumInsured
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                        {{product.SumInsured }}
                                    </ng-container>        
                                </td>
                               
                                <td>
                                    <ng-container *ngIf="currentContentRowIndex!=ri">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button  pButton type="button"  icon="pi pi-pencil"   
                                                (click)="currentContentRowIndex=ri" styleClass="p-button-outlined">
                                            </button>
                                        </div>
                                    </ng-container>
                                </td>
                                
                                <td>
                                    <ng-container >
                                        <div class="flex align-items-center justify-content-center gap-2" >
                                            <button  pButton type="button"    icon="pi pi-trash"  (click)="deleteProduct(ri)" 
                                                styleClass="p-button-outlined" >
                                            </button>
                                        </div>
                                    </ng-container>
                                </td>
                            </tr>
                           
                        </ng-template>
                       
                    </p-table>
                    <!-- <div class="flex justify-content-end gap-2 mt-5">
                        <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" />
                        <p-button label="Save" (click)="saveProduct()" />
                    </div> -->
                    <div class="grid justify-content-center gap-2 mt-5">
                        <!-- <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" /> -->
                        <div >
                        <p-button label="Save" (click)="onSaveContentRisk()" />
                    </div>
                    </div>
            </ng-container> 
        <!-- </p-tabPanel>
   
    </ng-container>
        </p-tabView> -->
            </p-dialog>
        </div>
        
        <div class="col-12 lg:col-5 xl:col-5" *ngIf="AllRisk">
                <div class="memberDetailCard" style="padding:10px !important;">
                    <div class="grid justify-content-end">
                        <div class="mb-2 col-12 lg:col-10 xl:col-10"> 
                            <b>All Risk</b>
                        </div>
                        <div class="mb-2 col-12 lg:col-2 xl:col-2 "> 
                            <p-button icon="pi pi-credit-card" styleClass="p-button-outlined" (click)="showDialogAllRisk()" />
                        </div>
                    </div>
                    <!-- <div class="mb-2"> <b>All Risk</b></div> -->
                    <div class="flex md:flex-row flex-col items-center md:space-x-3">
                   
                      <ng-container *ngFor="let steps of fields2; let index = index; let last = last">
                                  <div>    
                      <div style="display: flex !important;justify-content: space-between !important;">
                          <div class="mt-4 ml-3 mr-3">
                            <img src="./assets/images/All-risk.png" width="40" height="35">
                            <!-- <b>{{step.props.label }}</b> -->
                        </div> 
                          <div>
                              <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                                  <formly-form [form]="form" [fields]="steps.fieldGroup" [model]="productItem"></formly-form>
                          </form>
                          </div>     
                      </div>
                      
                      </div></ng-container>
                  
              </div>
              </div> 
        </div>
        <p-dialog header="All Risk Sum Insured" [modal]="true" [(visible)]="visibleAllRisk" [style]="{ width: '80rem','z-index': '1000 !important' }">
            <ng-container  class="mt-5">
                <div class="grid justify-content-end">
                    <!-- <div class="col-12 md:col-6 lg:col-6"> -->
                        <!--  -->
                        <!-- <p-button label="Add" (click)="Addnew(TableRow)" /> -->
                    <!-- </div> -->
                    <div class="col-12 md:col-8 lg:col-8"></div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="fields2">Total : {{getTotalAllRisk() | commaseparator}}</div>
                    <div class="col-12 md:col-2 lg:col-2"><p-button label="Add New" icon="pi pi-plus" (click)="addRowAllRisk()" /></div>
                </div>
            </ng-container>
            <ng-container  class="mt-5">
                <p-table [value]="TableRowAllRisk" dataKey="id" editMode="row" [rows]="5" [paginator]="true" [tableStyle]="{'min-width': '50rem'}" >
                    <ng-template pTemplate="header">
                        <tr>
                            
                            <th [pSortableColumn]="column" *ngFor="let column of columnHeaderAllRisk">
                                {{column}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-ri="rowIndex">
                        <tr>
                            <td>
                                
                                <ng-container *ngIf="currentAllRiskRowIndex==ri">
                                    <p-dropdown class="w-full"  styleClass="w-full" placeholder="Select Content Type"    [options]="allriskList" 
                                            appendTo="body" optionLabel="CodeDesc" optionValue="Code" [(ngModel)]="product.ItemId" />
                                            <div class="input-form-error" *ngIf="product.ContentRiskDescError">
                                                <div class="error-text text-danger">
                                                    Select Valid Content
                                                </div>
                                            </div>
                                </ng-container>
                                <ng-container *ngIf="currentAllRiskRowIndex!=ri"> {{ getAllContentTypeDescription(product.ItemId) }}</ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="currentAllRiskRowIndex==ri">
                                    <input class="w-full p-button-outlined" placeholder="Enter Serial No" styleClass="w-full"  pInputText type="text" 
                                        [(ngModel)]="product.Serial" />
                                        <div class="input-form-error" *ngIf="product.SerialNoError">
                                            <div class="error-text text-danger">
                                                Enter Valid Serial No
                                            </div>
                                        </div>
                                </ng-container>
                                <ng-container *ngIf="currentAllRiskRowIndex!=ri">
                                    {{product.Serial}}
                                </ng-container>   
                            </td>
                            <td>
                                <ng-container *ngIf="currentAllRiskRowIndex==ri">
                                    <input  pInputText type="text" placeholder="Enter Description" [(ngModel)]="product.Description"  required />
                                    <div class="input-form-error" *ngIf="product.SerialNoDescError">
                                        <div class="error-text text-danger">
                                            Enter Valid Description
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="currentAllRiskRowIndex!=ri">
                                    {{product.Description}}
                                </ng-container>         
                            </td>
                            <td>
                                <ng-container *ngIf="currentAllRiskRowIndex==ri">
                                    <p-inputNumber     [(ngModel)]="product.SumInsured" inputId="integeronly"  />
                                    <div class="input-form-error" *ngIf="product.SumInsuredError">
                                        <div class="error-text text-danger">
                                            Enter Valid Sum Insured
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="currentAllRiskRowIndex!=ri">
                                    {{product.SumInsured | commaseparator}}
                                </ng-container>        
                            </td>
                            <td>
                                <ng-container *ngIf="currentAllRiskRowIndex!=ri">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button  pButton type="button"  icon="pi pi-pencil"   
                                            (click)="currentAllRiskRowIndex=ri" styleClass="p-button-outlined">
                                        </button>
                                    </div>
                                </ng-container>
                            </td>
                            
                            <td>
                                <ng-container >
                                    <div class="flex align-items-center justify-content-center gap-2" >
                                        <button  pButton type="button"    icon="pi pi-trash"  (click)="deleteProductAllRisk(ri)" 
                                            styleClass="p-button-outlined" >
                                        </button>
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                       
                    </ng-template>
                   
                </p-table>
                <!-- <div class="flex justify-content-end gap-2 mt-5">
                    <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" />
                    <p-button label="Save" (click)="saveProduct()" />
                </div> -->
                <div class="grid justify-content-center gap-2 mt-5">
                    <!-- <p-button label="Cancel" styleClass="p-button-outlined"  (click)="visible = false" /> -->
                    <div >
                    <p-button label="Save" (click)=" onSaveAllRisk()" />
                </div>
                </div>
        </ng-container> 
           
        </p-dialog>
    </div>
 
    <div class="grid mt-2 mb-3">
        <div class="lg:col-1">

        </div>
        <div class="col-12 lg:col-5 xl:col-5" *ngIf="PersonalAccident">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Personal Liability</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields3; let index = index; let last = last">
                          <div>    
              <div style="display: flex !important;justify-content: space-between !important;">
                  <div class="mt-4 mr-3">
                    <img src="./assets/images/personalliability.png" width="50" height="40">
                    <!-- <b>{{step.props.label }}</b> -->
                </div> 
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
      <div class="col-12 lg:col-5 xl:col-5" *ngIf="personalIndemity">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Personal Accident</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepee of fields4; let index = index; let last = last">
                          <div>    
              <div style="display: flex !important;justify-content: space-between !important;">
                  <div class="mt-4 mr-3">
                    <img src="./assets/images/personalAccident1.png" width="50" height="40">
                    <!-- <b>{{step.props.label }}</b> -->
                </div> 
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepee.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
        </div>
    </div>

    <div class="text-center mt-2">
        <p-button  styleClass="p-button-outlined" label="Back"
        size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
        <p-button 
        label="Proceed" size="small" (click)="onfinalsave()"></p-button>
        <!-- <button pButton pRipple label="Submit" class="p-button-success" (click)="onfinalsave()"></button> -->
    </div>
</div>
<ng-container *ngIf="productId=='57'">
    <div class="mt-4">
        <div class="grid mb-3">
            <div class="col-12 lg:col-4 xl:col-4"></div>
            <div class="col-12 lg:col-4 xl:col-4">
                
            <div class="memberDetailCard">
                <div class="mb-3"> <b>Group Personal Accident Details</b></div>
              <div ><!--class="flex md:flex-row flex-col items-center md:space-x-3"-->
             
                <ng-container *ngFor="let step of fieldsGroupPa; let index = index; let last = last">
                            <div>    
                               
                <div class="row"><!--style="display: flex !important;justify-content: space-between !important;"-->
                    <div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                            <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                    </form>
                    </div>     
                </div>
                
                </div></ng-container>
            
        </div>
        </div> 
    </div>
    </div>
</div> 
<div class="text-center mt-2">
    <p-button  styleClass="p-button-outlined" label="Back"
    size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
    <p-button 
    label="Proceed" size="small" (click)="onsaveGroupPADetails()"></p-button>
</div>
</ng-container>
<ng-container *ngIf="productId == '60'">
    <div class="grid mt-2 mb-3">
        <div class="col-1 lg:col-1 xl:col-1"></div>
        <div class="col-10 lg:col-10 xl:col-10">
        <div class="memberDetailCard" style="padding:10px !important;">
            <div class="mb-2"> <b>Professional Indemnity</b></div>
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields8; let index = index; let last = last">
                          <div>    
              <div class="row">
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
    </div>


    <div class="grid mt-2 mb-3">
        <div class="col-1 lg:col-1 xl:col-1"></div>
        <div class="col-10 lg:col-10 xl:col-10">
        <div class="memberDetailCard mt-2" style="padding:10px !important;">
            <!-- <div class="mb-2"> <b>Professional Indemnity</b></div> -->
            <div class="flex md:flex-row flex-col items-center md:space-x-3">
           
              <ng-container *ngFor="let stepss of fields9; let index = index; let last = last">
                          <div>    
              <div class="row">
                  <div>
                      <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                          <formly-form [form]="form" [fields]="stepss.fieldGroup" [model]="productItem"></formly-form>
                  </form>
                  </div>     
              </div>
              
              </div></ng-container>
          
      </div>
      </div> 
      </div>
    </div>
    <div class="text-center mt-2">
        <p-button  styleClass="p-button-outlined" label="Back"
        size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
        <p-button 
        label="Proceed" size="small" (click)="onprofessionalsave()"></p-button>
    </div>
</ng-container>
<ng-container *ngIf="productId=='56'">
   

    <div>
        <div class="grid mt-1 mb-3">
            <div class="col-1 lg:col-2 xl:col-1">

            </div>
            <div class="col-10 lg:col-10 xl:col-10">
          <div class="memberDetailCard" style="padding:10px !important;">
        <div class="mb-2 d-flex justify-content-between"> 
            <div><b>Health Insurance</b></div>
            <!-- <div>
                <button class="btn btn-warning btn-sm" (click)="AddnewCovers()">
                    <i class="fas fa-plus"></i>&nbsp;Add New
                </button>
            </div> -->
           
        </div>
        <div class="grid pl-5 pr-5 pb-0">
            <div class="lg:col-2 xl:col-2 md:col-2 col-12 text-center md:col-ffset-2 lg:col-offset-2">
                <label class="input-form-label">Inpatient SumInsured</label>&nbsp;<ng-container *ngIf="categoryDesc">({{categoryDesc}})</ng-container><span class="text-danger">*</span>
            </div>
            <div class="lg:col-4 xl:col-4 md:col-4 col-12 text-center">
                <div class="input-control-container">
                      
                      <ng-select class="custom" [items]="sectionDropdownList" [(ngModel)]="ProductCode" placeholder="Select SumInsured" appendTo="body" [ngModelOptions]="{standalone: true}" bindValue="Code" bindLabel="CodeDesc">
                      </ng-select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="showsection">
           
            <ng-container *ngFor="let step of fields[0].fieldGroup; let index = index; let last = last">

                <ng-container *ngIf="step.props.label=='Employers Liability' || step.props.label=='Health Insurance' || (step.props.label=='Contents Risk' && insuranceId=='100004' && productId!='24') || step.props.label=='Building Risk' || step.props.label=='Money' || step.props.label=='Business Interruption' || (step.props.label=='Burglary' && insuranceId=='100004') || step.props.label=='Fidelity' || step.props.label=='Public Liability' || step.props.label=='Machinery BreakDown' || step.props.label=='Fire & Allied Perils' || (step.props.label=='Burglary' && insuranceId=='100002')  || step.props.label=='Goods in Transit'">

                    <div class="col-md-12 col-lg-12 col-xl-12"><!--style="margin-top:30px !important;"-->
                        <div style="width:100% !important;" class="col-md-4 col-lg-4 col-xl-4 customer-grid maan-grid-item-titles d-flex justify-content-between" (click)="selectedIndex=index">
                           
                        </div>
                        <div class="card-body" *ngIf="step.props.label!='Employers Liability' && step.props.label!='Fidelity'">
                            <ng-conttainer>
                                <form [formGroup]="form" (change)="onChange($event)">
                                    <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                                </form>
                            </ng-conttainer>
                        </div>
                        <div class="grid" *ngIf="step.props.label=='Employers Liability' && step.props.label!='Fidelity'">
                            <div class="col-md-2 col-lg-2 col-xl-2 offset-10">
                                <button class="btn btn-warning btn-sm" (click)="createCover(null,myModal2)">
                                    <i class="fas fa-plus"></i>&nbsp;Add New
                                </button>
                            </div>
                            </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container> 
        <div class="text-center mt-2">
            <p-button  styleClass="p-button-outlined" label="Back"
            size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
            <p-button 
            label="Proceed" size="small" (click)="onSaveHealthInsurance()"></p-button>
        </div>
                          
       
                  </div> 
            </div>
        
        </div>
        
    </div>

</ng-container>
<ng-container *ngIf="productId=='24'">
<div class="grid mt-1 mb-3">
    <div class="lg:col-1">

    </div>
    <div class="col-12 lg:col-5 xl:col-5" *ngIf="Content">
    <div class="memberDetailCard" style="padding:10px !important;">
<div class="mb-2"> <b>Content Risk</b></div>
                <div class="flex md:flex-row flex-col items-center md:space-x-3">
               
                  <ng-container *ngFor="let stes of fields1; let index = index; let last = last">
                              <div>    
                  <div style="display: flex !important;justify-content: space-between !important;">
                      <div class="mt-4 mr-3 ml-3">
                        <img src="./assets/images/content.png" width="40" height="35">
                        <!-- <b>{{step.props.label }}</b> -->
                    </div> 
                      <div>
                          <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                              <formly-form [form]="form" [fields]="stes.fieldGroup" [model]="productItem"></formly-form>
                      </form>
                      </div>     
                  </div>
                  
                  </div></ng-container>
              
          </div>
          </div> 
       
    </div>

    <div class="col-12 lg:col-5 xl:col-5" *ngIf="AllRisk">
            <div class="memberDetailCard" style="padding:10px !important;">
                <div class="mb-2"> <b>All Risk</b></div>
                <div class="flex md:flex-row flex-col items-center md:space-x-3">
               
                  <ng-container *ngFor="let steps of fields2; let index = index; let last = last">
                              <div>    
                  <div style="display: flex !important;justify-content: space-between !important;">
                      <div class="mt-4 ml-3 mr-3">
                        <img src="./assets/images/All-risk.png" width="40" height="35">
                        <!-- <b>{{step.props.label }}</b> -->
                    </div> 
                      <div>
                          <form [formGroup]="form" (ngSubmit)="onSubmit(productItem)">
                              <formly-form [form]="form" [fields]="steps.fieldGroup" [model]="productItem"></formly-form>
                      </form>
                      </div>     
                  </div>
                  
                  </div></ng-container>
              
          </div>
          </div> 
    </div>
</div>
<div class="text-center mt-2">
    <p-button  styleClass="p-button-outlined" label="Back"
    size="small" [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
    <p-button 
    label="Proceed" size="small" (click)="onfinalsave()"></p-button>
</div>
</ng-container>

    </div>