<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">                
        <div class="loginCard1">
            <div class="w-full surface-card py-8 px-5 sm:px-8 loginCardBorder">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/login/userIcon.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome to Alliance Insurance</div>
                    <span class="text-600 font-medium" *ngIf="!errorSection">Sign in to continue</span>
                    <span class="text-600 font-medium" *ngIf="errorSection">Session Error!</span>
                </div>
                <p-messages [(value)]="messages" [enableService]="false"></p-messages>
                <div *ngIf="!errorSection">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Username</label>
                    <input id="email1" type="text" [(ngModel)]="username" placeholder="Username" pInputText class="w-full mb-5 padding1Rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" placeholder="Password" styleClass="mb-5 w-full" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <!-- <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div> -->
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer primaryTextColor">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="submit('N')"></button>
                </div>
                <div *ngIf="errorSection">
                      <div class="text-center customText">
                                <span>{{messageText}}</span>
                      </div>
                      <div class="flex justify-content-center mt-3">
                            <div><p-button styleClass="p-button-outlined" (click)="onCancelLogin()">Cancel</p-button>&nbsp;</div>
                            <div>&nbsp;<p-button (click)="submit('Y')">Proceed Login!</p-button></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
