<p-toast></p-toast>
<div class="card">
    <div class="grid">
        <div class="col-12 sm:col-6 md:col-4">
            <h3 class="mr-3">Quote Details</h3>
        </div>
        <div class="col-12 sm:col-6 md:col-8">
            <div class="flex flex-wrap">

            </div>
            <div class="flex justify-content-start sm:justify-content-end  flex-wrap" *ngIf="productId=='5'">
                <div>
                    <input pInputText id="username" maxlength="50" [(ngModel)]="regNo"
                    placeholder="Search By Reg.No" />
                    <div class="input-form-error" *ngIf="regNoError">
                        <div class="error-text text-danger">
                            Please Enter Valid Reg No
                        </div>
                    </div>
                </div>
                
                &nbsp;<p-button label="Search Vehicle" (onClick)="onSearchVehicle()"></p-button>&nbsp;
                <p-button label="Create Vehicle Details" (click)="onCreateVehicle()"></p-button>
            </div>
        </div>
    </div>

    <p-divider></p-divider>
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
    <p-tabView [activeIndex]="tabIndex" >
        <p-tabPanel header="Personal Details" disabled="true">
            <div class="grid" *ngIf="customerDetails">
                <div class="lg:col-6 md:col-6 col-12">
                    <h3>Personal Information</h3>
                    <div class="flex flex-wrap">
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>Customer Name</b>
                            <p>{{customerDetails.TitleDesc}}&nbsp;{{customerDetails.ClientName}}</p>
                        </div>
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>Customer Type</b>
                            <p>{{customerDetails.PolicyHolderTypeDesc}}</p>
                        </div>
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>Occupation</b>
                            <p>{{customerDetails.OccupationDesc}}</p>
                        </div>

                    </div>
                </div>
                <div class="lg:col-6 md:col-6 col-12">
                    <h3>Address Details</h3>
                    <div class="flex flex-wrap">
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>Address</b>
                            <p>{{customerDetails.Address1}}</p>
                        </div>
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>Country</b>
                            <p>{{customerDetails.Nationality}}</p>
                        </div>
                        <div class="lg:col-4 md:col-6 col-12">
                            <b>District</b>
                            <p>{{customerDetails.StateName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p-divider *ngIf="customerDetails"></p-divider>
            <div class="grid" *ngIf="issuerSection">
                <div class="lg:col-12 md:col-12 col-12">
                    <h3>Policy Details</h3>
                    <div class="flex flex-wrap">
                        <div class="lg:col-2 md:col-2 col-3">
                            <label for="username">Source Type *</label>
                            <p-dropdown inputId="sourceType" class="w-full" styleClass="w-full"
                                [options]="sourceTypeList" [(ngModel)]="Code" (onChange)="onSourceTypeChange('change')"
                                optionLabel="CodeDesc" optionValue="Code" placeholder="Select SourceType">
                            </p-dropdown>
                            <div class="input-form-error" *ngIf="sourceCodeError">
                                <div class="error-text">
                                    Please Select Source Type
                                </div>
                            </div>
                        </div>
                        <div class="lg:col-3 md:col-3 col-3"
                            *ngIf="issuerSection && (sourceCodeDesc=='Premia Agent' || sourceCodeDesc=='Premia Broker' || sourceCodeDesc=='Premia Direct')">
                            <label for="username">Source Code *</label>
                            <!-- <p-autoComplete [(ngModel)]="customerCode" [suggestions]="customerList" field="CustomerName" (completeMethod)="onGetCustomerList('change',$event.query)"></p-autoComplete> 
                            <p-autoComplete  class="w-full" styleClass="w-full" [suggestions]="customerList"  (onSelect)="onCommonDetailsChange();onChangeCustomer($event)"
                                (completeMethod)="onGetCustomerList('change',$event.query)" [field]="CustomerCode+'-'+CustomerName">
                                    <ng-container *ngIf="customer">
                                            <ng-template let-customer pTemplate="item">
                                                <ng-container *ngIf="customer.CustomerName!=null">
                                                    {{customer.CustomerName}}&nbsp;-&nbsp;{{customer.CustomerCode}}
                                                </ng-container>
                                                <ng-container *ngIf="customer.CustomerName==null">
                                                    No Data Found
                                                </ng-container>
                                            </ng-template>
                                    </ng-container>
                                    
                            </p-autoComplete>-->
                            <input pInputText id="username" class="w-full" maxlength="50" (change)="onCommonDetailsChange();"
                                [disabled]="(endorsementSection) || checkDisableField()" [(ngModel)]="customerCode"
                                type="text" (keyup)="onGetCustomerList('change',$event.target.value)" autocomplete="off"
                                placeholder="Search here" data-toggle="dropdown" />
                                <ul class="dropdown-menu dropdown-list-style CustomerInput" appendTo="body"
                                    [ngClass]="{dropdownDisplay: showCustomerList, dropdownNotDisplay: !showCustomerList}">
                                    <li *ngFor="let item of customerList"
                                        (click)="setCustomerValue(item.Code, item.Name,'change')">
                                        {{item.Code}} - {{ item.Name }}
                                    </li>
                                    <div class="text-center" *ngIf="customerList.length == 0">
                                        <p>Enter any code to Search...</p>
                                    </div>
                                </ul> 
                            <div class="input-form-error" *ngIf="customerCodeError">
                                <div class="error-text text-danger">
                                    Please Enter Valid Source Code
                                </div>
                            </div>
                        </div>
                        <div class="lg:col-4 md:col-4 col-12"
                            *ngIf="issuerSection && (sourceCodeDesc=='Premia Agent' || sourceCodeDesc=='Premia Broker' || sourceCodeDesc=='Premia Direct')">
                            <label for="username">Source Name *</label>
                            <input pInputText id="username" class="w-full" [(ngModel)]="customerName" disabled type="text"
                                placeholder="Source Name" />
                        </div>
                        <div class="lg:col-2 md:col-2 col-3"
                            *ngIf="issuerSection && (sourceCodeDesc=='agent' || sourceCodeDesc=='Agent' || sourceCodeDesc=='broker' || sourceCodeDesc=='direct' || sourceCodeDesc=='Direct' || sourceCodeDesc=='bank' || sourceCodeDesc=='Bank' || sourceCodeDesc=='Broker' || sourceCodeDesc=='whatsapp' || sourceCodeDesc=='Whatsapp')">
                            <label for="username">Source Code *</label>
                            <ng-container *ngIf="sourceCodeDesc!='broker' && sourceCodeDesc!='Broker'">
                                <p-dropdown inputId="sourceCode" class="w-full" styleClass="w-full"
                                    [options]="brokerList" [(ngModel)]="brokerCode" (onChange)="onBrokerChange()"
                                    [disabled]="endorsementSection || finalizeYN=='Y'" optionLabel="Name"
                                    optionValue="Code" placeholder="Select Source Code">
                                </p-dropdown>
                                <!-- <ng-select class="input-form-select" appendTo="body" [(ngModel)]="brokerCode"  [disabled]="endorsementSection || finalizeYN=='Y'" [items]="brokerList" (change)="onBrokerChange()" bindValue="Code" bindLabel="Name">
                            </ng-select> -->
                            </ng-container>
                            <ng-container *ngIf="sourceCodeDesc=='broker' || sourceCodeDesc=='Broker'">
                                <p-dropdown inputId="sourceCode" class="w-full" styleClass="w-full"
                                    [options]="brokerList" [(ngModel)]="brokerCode" (onChange)="onBrokerChange()"
                                    [disabled]="endorsementSection || finalizeYN=='Y'" optionLabel="Name"
                                    optionValue="Code" placeholder="Select Source Code">
                                </p-dropdown>
                                <!-- <ng-select class="input-form-select" appendTo="body" [(ngModel)]="brokerCode"  [disabled]="endorsementSection || finalizeYN=='Y'" (change)="onBrokerChange()">
                                <ng-option *ngFor="let item of brokerList" [value]="item.Code">{{item.Name}}</ng-option>
                            </ng-select> -->
                            </ng-container>
                            <div class="input-form-error" *ngIf="brokerCodeError">
                                <div class="error-text text-danger">
                                    Please Select Source Code
                                </div>
                            </div>
                        </div>
                        <div class="lg:col-2 md:col-2 col-3"
                            *ngIf="issuerSection && brokerCode && (sourceCodeDesc=='agent' || sourceCodeDesc=='Agent' || sourceCodeDesc=='broker' || sourceCodeDesc=='direct' || sourceCodeDesc=='Direct' || sourceCodeDesc=='bank' || sourceCodeDesc=='Bank' || sourceCodeDesc=='Broker' || sourceCodeDesc=='whatsapp' || sourceCodeDesc=='Whatsapp')">
                            <label for="username">Broker Branch *</label>
                            <p-dropdown inputId="sourceCode" class="w-full" styleClass="w-full"
                                [options]="brokerBranchList" [(ngModel)]="brokerBranchCode"
                                (onChange)="onBrokerBranchChange()" [disabled]="endorsementSection || finalizeYN=='Y'"
                                optionLabel="CodeDesc" optionValue="Code" placeholder="Select Broker Branch">
                            </p-dropdown>
                            <div class="input-form-error" *ngIf="brokerBranchCodeError">
                                <div class="error-text text-danger">
                                    Please Select BrokerBranchCode
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-divider *ngIf="issuerSection"></p-divider>
            <div class="grid">
                <div class="lg:col-12 md:col-12 col-12">
                        <div class="flex flex-wrap">
                            <div class="lg:col-8 md:col-8 col-12">
                                <h3>Period Of Insurance</h3>
                            </div>
                            <div class="lg:col-4 md:col-4 col-12" *ngIf="productId=='6' || this.productId=='16' || productId=='39' || productId=='14' || productId=='32' || productId=='1' || productId=='21'
                            || productId=='26' || this.productId=='25' || productId=='13' || productId=='57'">
                                <label for="username">Industry</label>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="industryList"
                                    [(ngModel)]="IndustryId" [disabled]="(endorsementSection || finalizeYN=='Y')" (onChange)="onCurrencyChange('change')"
                                    optionLabel="CodeDesc" optionValue="Code" placeholder="Select Industry">
                                </p-dropdown>
                                <div class="input-form-error" *ngIf="industryError">
                                    <div class="error-text">
                                        Please Select Industry
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:col-2 md:col-2 col-3">
                                <label for="username">Start Date</label>
                                <p-calendar class="w-full" styleClass="w-full" [minDate]="minDate"
                                    [(ngModel)]="policyStartDate" (onSelect)="onStartDateChange('change')"
                                    dateFormat="dd/mm/yy" placeholder="Select Start Date">
                                </p-calendar>
                                <div class="input-form-error bottomSpacing" *ngIf="policyStartError || policyPassDate"
                                    >
                                    <div class="error-text text-danger" *ngIf="policyStartError">
                                        <span class="spancommon span_font_size"> Please Enter Policy Start Date</span>
                                    </div>
                                    <div class="error-text text-danger" *ngIf="policyPassDate">
                                        <span class="spancommon span_font_size">Please Select Future Date</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lg:col-2 md:col-2 col-3">
                                <label for="username">End Date</label>
                                <p-calendar class="w-full" styleClass="w-full" [(ngModel)]="policyEndDate"
                                    (onSelect)="onStartDateChange('change')" dateFormat="dd/mm/yy"
                                    placeholder="Select End Date">
                                </p-calendar>
                                <div class="input-form-error" *ngIf="policyEndError">
                                    <div class="error-text  text-danger">
                                        <span class="spancommon span_font_size">Please Enter Policy End Date</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lg:col-2 md:col-2 col-3">
                                <label for="username">Currency*</label>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="currencyList"
                                    [(ngModel)]="currencyCode" (onChange)="onCurrencyChange('change')"
                                    optionLabel="CodeDesc" optionValue="Code" placeholder="Select Currency">
                                </p-dropdown>
                                <div class="input-form-error" *ngIf="currencyCodeError">
                                    <div class="error-text">
                                        Please Select Currency
                                    </div>
                                </div>
                            </div>
                            <div class="lg:col-2 md:col-2 col-3">
                                <label for="username">Exchange Rate</label>
                                <input pInputText id="username" maxlength="50" [(ngModel)]="exchangeRate"
                                    (change)="onCommonDetailsChange()" />
                            </div>
                            <div class="lg:col-2 md:col-2 col-3">
                                <label for="username">PromoCode&nbsp;(Optional)</label>
                                <input pInputText id="username" maxlength="50" [(ngModel)]="promocode"
                                    (change)="onCommonDetailsChange()" placeholder="Enter PromoCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <p-button (click)="navigateTo('back')" styleClass="p-button-outlined" label="Back"
                        size="small"></p-button>&nbsp;
                    <p-button (click)="navigateTo('quote-plan')" *ngIf="vehicleDetailsList.length!=0 || productId!='5'"
                        label="Next" size="small"></p-button>
                </div>
        </p-tabPanel>
        <ng-container *ngFor="let veh of vehicleDetailsList">
            <p-tabPanel header="Vehicle ({{veh?.Registrationnumber}})" disabled="true">
                <div class="grid" *ngIf="customerDetails">
                    <div class="lg:col-6 md:col-6 col-12">
                        <div class="flex flex-wrap">
                            <div class="lg:col-6 md:col-6 col-12">
                                <h3>Motor Details</h3> 
                            </div>
                            <div class="lg:col-6 md:col-6 col-12 flex flex-wrap justify-content-end">
                                <ng-container *ngIf="veh.SavedFrom!='API'">
                                    <p-button label="Edit" icon="pi pi-pencil" size="small"
                                        (click)="EditData(veh)"></p-button>&nbsp;
                                </ng-container>
                                <p-button styleClass="p-button-outlined" label="Delete" icon="pi pi-trash"
                                    (click)="onDelete(veh)" size="small"></p-button>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Make</b>{{productItem.MotorUsage}}
                                <p>{{vehicleDetails?.Vehiclemake}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Model</b>
                                <p>{{vehicleDetails?.Vehcilemodel}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Body Type</b>
                                <p>{{vehicleDetails?.TiraBodyType}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Vehicle Usage</b>
                                <p>{{vehicleDetails?.TiraMotorUsage}}</p>
                            </div>
                            <!-- <div class="lg:col-4 md:col-6 col-12">
                                <b>Motor Category</b>
                                <p>{{vehicleDetails?.MotorCategoryDesc}}</p>
                            </div> -->
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Engine No</b>
                                <p>{{vehicleDetails?.EngineNumber}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Engine Capacity</b>
                                <p>{{vehicleDetails?.EngineCapacity}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Manufacture Year</b>
                                <p>{{vehicleDetails?.ManufactureYear}}</p>
                            </div>

                            <!-- <div class="lg:col-4 md:col-6 col-12">
                                <b>Owner Category</b>
                                <p>{{vehicleDetails?.OwnerCategory}}</p>
                            </div> -->
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Seating Capacity</b>
                                <p>{{vehicleDetails?.SeatingCapacity}}</p>
                            </div>
                            <!-- <div class="lg:col-4 md:col-6 col-12">
                                <b>Gross Weight</b>
                                <p>{{vehicleDetails?.Grossweight}}</p>
                            </div>
                            <div class="lg:col-4 md:col-6 col-12">
                                <b>Tare Weight</b>
                                <p>{{vehicleDetails?.TareWeight}}</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="lg:col-6 md:col-6 col-12">
                        <h3>Insured Details</h3>
                        <ng-container *ngIf="insuranceId=='100027' || insuranceId=='100002' || insuranceId=='100028' || insuranceId=='100018' || insuranceId=='100019' || insuranceId=='100020' || insuranceId=='100004'">
                            <ng-container *ngFor="let step of fields">
                                <form [formGroup]="form">
                                    <formly-form [form]="form" [fields]="step.fieldGroup" [model]="productItem"></formly-form>
                                </form>
                            </ng-container>
                        </ng-container>
                        <!-- <ng-container *ngIf="insuranceId!='100027' && insuranceId!='100028' && insuranceId!='100020'">
                            <div class="flex flex-wrap" *ngIf="insuranceId=='100027'">
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Insurance Type</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="typeList"
                                        [(ngModel)]="typeValue" optionLabel="CodeDesc" optionValue="Code"
                                        (onChange)="getMotorTypeList('change')" placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Motor Usage</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="motorUsageList"
                                        [(ngModel)]="motorUsageValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Deductibles</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="deductibleList"
                                        [(ngModel)]="deductibleValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="flex flex-wrap" *ngIf="insuranceId!='100027'">
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Insurance Type</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="typeList"
                                        [(ngModel)]="typeValue" optionLabel="CodeDesc" optionValue="Code"
                                        (onChange)="getMotorTypeList('change')" placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4" >
                                    <label for="username">Insurance Class</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="classList"
                                        [(ngModel)]="classValue" optionLabel="CodeDesc" optionValue="Code"
                                        (onChange)="onChangeClassType()" placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Body Type</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="motorTypeList"
                                        [(ngModel)]="bodyTypeValue" (onChange)="onChangeBodyType()" optionLabel="CodeDesc"
                                        optionValue="Code" placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="flex flex-wrap">
                                <div class="lg:col-4 md:col-4 col-4" *ngIf="insuranceId!='100027'">
                                    <label for="username">Motor Usage</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="motorUsageList"
                                        [(ngModel)]="motorUsageValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4" *ngIf="insuranceId=='100027'">
                                    <label for="username">Vehicle Value</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="vehicleValueList"
                                        [(ngModel)]="vehicleValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Claims YN?</label>
                                    <div class="flex justify-content-start gap-3">
                                        <div class="flex align-items-center">
                                            <p-radioButton name="Yes" value="Y" [(ngModel)]="claimsYN"
                                                inputId="claimsYN"></p-radioButton>
                                            <span for="claimsYN" class="ml-2">Yes</span>
                                        </div>
                                        <div class="flex align-items-center">
                                            <p-radioButton name="No" value="N" [(ngModel)]="claimsYN"
                                                inputId="claimsNo"></p-radioButton>
                                            <span for="claimsNo" class="ml-2">No</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4" *ngIf="typeValue=='10'">
                                    <label for="username">GPS Tracking Enabled?</label>
                                    <div class="flex justify-content-start gap-3">
                                        <div class="flex align-items-center">
                                            <p-radioButton name="Yes" value="Y" [(ngModel)]="gpsYn"
                                                inputId="orginwarehouse_Yes"></p-radioButton>
                                            <span for="orginwarehouse_Yes" class="ml-2">Yes</span>
                                        </div>
                                        <div class="flex align-items-center">
                                            <p-radioButton name="No" value="N" [(ngModel)]="gpsYn"
                                                inputId="orginwarehouse_No"></p-radioButton>
                                            <span for="orginwarehouse_No" class="ml-2">No</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap" *ngIf="(classValue=='1' || classValue=='2') || (insuranceId=='100027' && (typeValue!='102' && typeValue!='95'))">
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Vehicle SumInsued ({{currencyCode}}) &nbsp;<span
                                            class="text-danger">*</span></label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="vehicleSI"
                                        (keydown)="onVehicleValueChange($event)" (keyup)="CommaFormatted()"
                                        placeholder="Enter Vehicle SumInsured" />
                                </div>
                                <div class="lg:col-4 md:col-4 col-4" *ngIf="(classValue=='1' || classValue=='2')|| (insuranceId=='100027' && (typeValue!='102' && typeValue!='95'))">
                                    <label for="username">Accessories SumInsued ({{currencyCode}})</label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="accessoriesSI"
                                        (keydown)="onVehicleValueChange($event)" (keyup)="accessoriesCommaFormatted()"
                                        placeholder="Enter Accessories SumInsured" />
                                </div>
                                <div class="lg:col-4 md:col-4 col-4"
                                *ngIf="((classValue=='1' || classValue=='2') && insuranceId!='100004') || (insuranceId=='100027' && (typeValue!='102' && typeValue!='95'))">
                                    <label for="username">WindShield SumInsued ({{currencyCode}})</label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="windShieldSI"
                                        (keydown)="onVehicleValueChange($event)" (keyup)="WindSICommaFormatted()"
                                        placeholder="Enter WindShield SumInsured" />
                                </div>
                            </div>
                            <div class="flex flex-wrap" *ngIf="insuranceId!='100027'">
                                <div class="lg:col-4 md:col-4 col-4"
                                    *ngIf="(classValue=='1' || classValue=='2') && insuranceId!='100004'">
                                    <label for="username">Extended TPPD Sum Insured </label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="tppdSI"
                                        (keydown)="onVehicleValueChange($event)" (keyup)="TppdCommaFormatted()"
                                        placeholder="Enter Tppd SumInsured" />
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">TIRA Cover Note No (If Exist) </label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="tiraCoverNoteNo"
                                        placeholder="Enter TIRA Cover No" />
                                </div>
                            </div>
                            <div class="flex flex-wrap" *ngIf="insuranceId=='100027'">
                                <div class="lg:col-4 md:col-4 col-4" >
                                    <label for="username">Extended TPPD SumInsured</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="extendedTppdList"
                                        [(ngModel)]="extendedTppdValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Personal Accident Covers</label>
                                    <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="pACoversList"
                                        [(ngModel)]="pACoverValue" optionLabel="CodeDesc" optionValue="Code"
                                        placeholder="---Select---">
                                    </p-dropdown>
                                </div>
                                <div class="lg:col-4 md:col-4 col-4">
                                    <label for="username">Inflation&nbsp;<span
                                            class="text-danger">*</span></label>
                                    <input pInputText id="username" maxlength="50" [(ngModel)]="inflationValue"
                                        placeholder="Enter Inflation" />
                                </div>
                            </div>
                        </ng-container> -->
                        <h3 class="mt-0">Collateral Details</h3>
                        <div class="grid">
                            <div class="col-12 lg:col-4 md:col-4 xl:col-4">
                                <div class="p-field-checkbox">
                                    <p-checkbox [(ngModel)]="collateralValue"  binary="true" (onChange)="onCollateralChange()" [checked]="collateralYN=='Y'" inputId="binary"></p-checkbox>
                                    <label for="binary">&nbsp;Collateral</label>
                                </div>
                            </div>
                        </div>
                        <div class="grid" *ngIf="collateralYN=='Y'">
                            <div class="lg:col-4 md:col-4 col-4" >
                                <label for="username">Borrower Type</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="borrowerList"
                                    [(ngModel)]="borrowerValue" [disabled]="((endorsementSection && !enableCollateralDetails)) || checkDisableField()" optionLabel="CodeDesc" optionValue="Code"
                                    placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 xl:col-4" *ngIf="borrowerValue=='2'">
                                <label for="username">Collateral Name&nbsp;<span class="text-danger">*</span></label>
                                <input pInputText id="username" maxlength="50" [disabled]="(endorsementSection && !enableCollateralDetails) || checkDisableField()" [(ngModel)]="collateralName" placeholder="Enter Payee Name" />
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 xl:col-4" *ngIf="borrowerValue=='1'">
                                <label for="username">Collateral Bank Name</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="bankList"
                                    [(ngModel)]="collateralName" [disabled]="((endorsementSection && !enableCollateralDetails)) || checkDisableField()" optionLabel="CodeDesc" optionValue="Code"
                                    placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-4 md:col-4 xl:col-4">
                                <label for="username">First Loss Payee Name&nbsp;<span class="text-danger">*</span></label>
                                <input pInputText id="username" maxlength="50" [disabled]="(endorsementSection && !enableCollateralDetails) || checkDisableField()" [(ngModel)]="firstLossPayee" placeholder="Enter Payee Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid" *ngIf="customerDetails && (insuranceId=='100020')">
                    <div class="lg:col-12 md:col-12 xl:col-12 col-12">
                        <h3>Driver Details</h3>
                        <div class="grid">
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Driver Name&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="50" [(ngModel)]="driverName" placeholder="Enter Driver Name" />
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">License Number&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="14" [(ngModel)]="licenseNo" placeholder="Enter License Number" />
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Driving Experience(Years)&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="3" [(ngModel)]="driveExperience" placeholder="Enter Driving Experience" />
                            </div>
                           
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">Driver Type</label>
                                <div class="flex justify-content-start gap-3">
                                    <p-selectButton [options]="driverOptions" [(ngModel)]="driverType"
                                    optionLabel="label" optionValue="value"></p-selectButton>
                                    <!-- <div class="flex align-items-center">
                                        <p-radioButton name="Yes" value="2" [(ngModel)]="driverType"
                                            inputId="driver_Yes"></p-radioButton>
                                        <span for="driver_Yes" class="ml-2">Driver</span>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton name="No" value="1" [(ngModel)]="driverType"
                                            inputId="driver_No"></p-radioButton>
                                        <span for="driver_No" class="ml-2">Owner</span>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">Gender</label>
                                <div class="flex justify-content-start gap-3">
                                    <p-selectButton [options]="genderOptions" [(ngModel)]="gender"
                                    optionLabel="label" optionValue="value"></p-selectButton>
                                    <!-- <div class="flex align-items-center">
                                        <p-radioButton name="gender" value="M" [(ngModel)]="gender"
                                            inputId="gender_Yes"></p-radioButton>
                                        <span for="gender_Yes" class="ml-2">Male</span>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton name="gender" value="F" [(ngModel)]="gender"
                                            inputId="gender_No"></p-radioButton>
                                        <span for="gender_No" class="ml-2">Female</span>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">Date Of Birth</label>
                                <p-calendar class="w-full" styleClass="w-full" [maxDate]="minDobDate"
                                    [(ngModel)]="driverDob"
                                    dateFormat="dd/mm/yy" placeholder="Select Date Of Birth">
                                </p-calendar>
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">Martial Status</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="martialList" [(ngModel)]="martialStatus"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">State</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="stateList" [(ngModel)]="stateValue" (onChange)="getDistrictList('change',null,null)"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                                
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">City</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="districtList" [(ngModel)]="cityCode" (onChange)="getSubUrbanList('change')" optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2">
                                <label for="username">Sub Urban</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="subUrbanList" [(ngModel)]="subUrbanCode" optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                           
                            <div class="col-12 lg:col-2 md:col-2 xl:col-2" *ngIf="insuranceId=='100028'">
                                <label for="username">Claim Type</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="claimTypeList" [(ngModel)]="claimTypeValue" optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="grid" *ngIf="customerDetails && (insuranceId=='100028')">
                    <div class="lg:col-12 md:col-12 xl:col-12 col-12">
                        <h3>Driver Details</h3>
                        <div class="grid">
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Driver Name&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="50" [(ngModel)]="driverName" placeholder="Enter Driver Name" />
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">License Number&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="50" [(ngModel)]="licenseNo" placeholder="Enter License Number" />
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Driving Experience(Years)&nbsp;<span class="text-danger">*</span></label><br>
                                <input pInputText id="username" class="w-full" styleClass="w-full" maxlength="3" [(ngModel)]="driveExperience" placeholder="Enter Driving Experience" />
                            </div>
                           
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Driver Type</label>
                                <div class="flex justify-content-start gap-3">
                                    <p-selectButton [options]="driverOptions" [(ngModel)]="driverType"
                                    optionLabel="label" optionValue="value"></p-selectButton>
                                    <!-- <div class="flex align-items-center">
                                       
                                        <p-radioButton name="Yes" value="2" [(ngModel)]="driverType"
                                            inputId="driver_Yes"></p-radioButton>
                                        <span for="driver_Yes" class="ml-2">Driver</span>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton name="No" value="1" [(ngModel)]="driverType"
                                            inputId="driver_No"></p-radioButton>
                                        <span for="driver_No" class="ml-2">Owner</span>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Date Of Birth</label>
                                <p-calendar class="w-full" styleClass="w-full" [maxDate]="minDobDate"
                                    [(ngModel)]="driverDob"
                                    dateFormat="dd/mm/yy" placeholder="Select Date Of Birth">
                                </p-calendar>
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Martial Status</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="martialList" [(ngModel)]="martialStatus"  optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3" *ngIf="insuranceId=='100028'">
                                <label for="username">Claim Type</label><span class="text-danger">*</span>
                                <p-dropdown inputId="make" class="w-full" styleClass="w-full" [options]="claimTypeList" [(ngModel)]="claimTypeValue" optionLabel="CodeDesc" optionValue="Code" placeholder="---Select---">
                                </p-dropdown>
                            </div>
                            <div class="col-12 lg:col-3 md:col-3 xl:col-3">
                                <label for="username">Gender</label>
                                <div class="flex justify-content-start gap-3">
                                    <p-selectButton [options]="genderOptions" [(ngModel)]="gender"
                                    optionLabel="label" optionValue="value"></p-selectButton>
                                    <!-- <div class="flex align-items-center">
                                        <p-radioButton name="gender" value="M" [(ngModel)]="gender"
                                            inputId="gender_Yes"></p-radioButton>
                                        <span for="gender_Yes" class="ml-2">Male</span>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-radioButton name="gender" value="F" [(ngModel)]="gender"
                                            inputId="gender_No"></p-radioButton>
                                        <span for="gender_No" class="ml-2">Female</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <p-button (click)="navigateTo('back')" styleClass="p-button-outlined" label="Back"
                        size="small"></p-button>&nbsp;
                    <p-button (click)="navigateTo('quote-plan')" *ngIf="vehicleDetailsList.length!=tabIndex" label="Next"
                        size="small"></p-button>&nbsp;
                    <p-button (click)="onProceed('save')" *ngIf="vehicleDetailsList.length==tabIndex" label="View Premium"
                        size="small"></p-button>&nbsp;
                    <p-button (click)="onProceed('default')"
                        *ngIf="checkActiveVehicles() && vehicleDetailsList.length!=tabIndex" label="View Premium"
                        size="small"></p-button>
                </div>
            </p-tabPanel>
        </ng-container>
    </p-tabView>

</div>

<p-dialog header="Select a Customer" [(visible)]="isSearchFormVisible" [modal]="true" styleClass="w-10 md:w-8 lg:w-6"
    [draggable]="false" [resizable]="false">
    <div class="grid mt-2">
        <div class="col-12 md:col-5 lg:col-5 xl:col-5">
            <input pInputText id="username" class="w-full" styleClass="w-full" [(ngModel)]="searchValue" maxlength="100" placeholder="Search By Name/TIN No/Passport No" />
        </div>
        <div class="col-12 md:col-2 lg:col-2 xl:col-2" *ngIf="searchValue.length > 2 ? '...' : ''">
            <p-button label="Search" class="mr-3" size="small" (click)="onCustomerSearch()"></p-button>
        </div>
        <!-- <p-autoComplete field="name" class="mr-3 mb-3" styleClass="w-22rem md:w-25rem"
            inputStyleClass="w-22rem md:w-25rem" [suggestions]="customerFilterSuggestions"
            (completeMethod)="customerSearch($event)"></p-autoComplete> -->
        
    </div>
    <div class="body mt-3">
        <p-table [value]="customers" [tableStyle]="{'min-width':'50rem'}" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="customerColumn" *ngFor="let column of customerColumn">{{column}} <p-sortIcon
                            [field]="column"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>
                        <input type="radio" [id]="customer?.CustomerReferenceNo" name="fav_language"
                            (change)="onSelectCustomer(customer)" [value]="customer.CustomerReferenceNo">
                        <label for="html"></label>
                        <!-- <p-radioButton  [value]="customer.CustomerReferenceNo" name="city" [(ngModel)]="selectedCustomer" [inputId]="customer.CustomerReferenceNo"></p-radioButton>
              <label for="ingredient1" class="ml-2"></label> -->
                    </td>
                    <td>{{customer?.CustomerReferenceNo}}</td>
                    <td>{{customer?.ClientName}}</td>
                    <td>{{customer?.PolicyHolderTypeDesc }}</td>
                    <td>{{ customer?.IdNumber }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-wrap mt-5 justify-content-center">
        <p-button (click)="hideSearchForm()" label="Close" styleClass="p-button-outlined" class="mr-3"></p-button>&nbsp;
        <p-button label="Clear Search" *ngIf="clearSearchSection" (click)="showSearchForm()" class="mr-3"></p-button>&nbsp;
        <p-button (click)="navigateToCustomerDetail()" *ngIf="selectedCustomer" label="Proceed" severity="warning"
            class="mb-3"></p-button>
    </div>
</p-dialog>
<p-dialog header="Choose any Section You Wish to Buy" [(visible)]="showSectionSeltion" [modal]="true"
    styleClass="w-10 md:w-8 lg:w-6" [draggable]="false" [resizable]="false">
            
</p-dialog>